{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Angebote API",
    "description" : "Ein Service um eine Ergebnisliste mit FinanzierungsvorschlÃ¤gen zu ermitteln",
    "termsOfService" : "https://docs.api.europace.de/nutzungsbedingungen/",
    "contact" : {
      "name" : "Europace AG",
      "url" : "https://developer.europace.de",
      "email" : "devsupport@europace2.de"
    },
    "version" : "2.7.1"
  },
  "externalDocs" : {
    "url" : "https://docs.api.europace.de/baufinanzierung/angebote/angebote-api/"
  },
  "servers" : [ {
    "url" : "https://baufinanzierung.api.europace.de",
    "description" : "Produktionsserver"
  } ],
  "tags" : [ {
    "name" : "VersionController",
    "description" : "Liefert die Version der BaufiSmart-API"
  }, {
    "name" : "Version 1",
    "description" : "Eine Liste mit FinanzierungsvorschlÃ¤gen abrufen, API-Version 1"
  }, {
    "name" : "Version 2",
    "description" : "Eine Liste mit FinanzierungsvorschlÃ¤gen abrufen, API-Version 2"
  } ],
  "paths" : {
    "/v1/finanzierungsvorschlaege" : {
      "post" : {
        "tags" : [ "Version 1" ],
        "summary" : "Ermittle Ergebnisse",
        "description" : "Als Parameter wird der Vorgang als JSON im Body benÃ¶tigt",
        "operationId" : "getFinanzierungsVorschlaege",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alternativen",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "produktAnbieter",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErfassteDaten"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v1/finanzierungsvorschlaege/{vorgangsNummer}" : {
      "get" : {
        "tags" : [ "Version 1" ],
        "summary" : "Ermittle Ergebnisse",
        "description" : "Als Parameter wird eine Vorgangsnummer benÃ¶tigt",
        "operationId" : "getFinanzierungsVorschlaege_1",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vorgangsNummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "produktAnbieter",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "alternativen",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung" : {
      "post" : {
        "tags" : [ "Version 2" ],
        "summary" : "Ermittlung erzeugen",
        "description" : "Als Parameter wird eine Vorgangsnummer oder der Vorgang als JSON im Body benÃ¶tigt",
        "operationId" : "ermittleErgebnisse",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "vorgangsNummer",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "alternativen",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "produktAnbieter",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "excludierteProduktAnbieter",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "provisionsAusgabe",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErfassteDaten"
              }
            }
          }
        },
        "responses" : {
          "302" : {
            "description" : "Die Ermittlung wurde erzeugt und ist maximal eine Stunde unter der Url im 'location' Header abrufbar."
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Ermittlung abrufen",
        "description" : "Die Ermittlung abrufen. Als Parameter wird die ErmittlungsId benÃ¶tigt.",
        "operationId" : "getErmittlung",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ermittlung"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Ergebnisse abrufen",
        "description" : "Als Parameter wird die ErmittlungsAnfrageId benÃ¶tigt.",
        "operationId" : "getErgebnisListe",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErgebnisListe"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Ergebnis abrufen",
        "description" : "Das Ergebnis einer Ermittlung abrufen. Als Parameter wird die ErmittlungsAnfrageId und der Ergebnisnummer benÃ¶tigt.",
        "operationId" : "getErgebnis",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "name" : "ergebnisNummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ergebnis"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/meldungen" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Meldungen abrufen",
        "description" : "Die Meldungen eines Finanzierungsvorschlags abrufen. Als Parameter wird die ErmittlungsAnfrageId und die Ergebnisnummer benÃ¶tigt.",
        "operationId" : "getMeldungen",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "name" : "ergebnisNummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Meldungen"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/provision" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Provision abrufen",
        "description" : "Abruf der Provision des Darlehens. Als Parameter wird die ErmittlungsAnfrageId und die Ergebnisnummer benÃ¶tigt.",
        "operationId" : "getProvision",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "name" : "ergebnisNummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "repeat",
          "in" : "query",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvisionsInfo"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/unterlagen" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Unterlagen abrufen",
        "description" : "Abrufen der benÃ¶tigten Unterlagen des Finanzierungsvorschlags. Als Parameter wird die ErmittlungsAnfrageId und die Ergebnisnummer benÃ¶tigt.",
        "operationId" : "getUnterlagen",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "name" : "ergebnisNummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Unterlagen"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/zahlungsplaene" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "ZahlungsplÃ¤ne abrufen",
        "description" : "Die ZahlungsplÃ¤ne eines Finanzierungsvorschlags abrufen. Als Parameter wird die ErmittlungsAnfrageId und die Ergebnisnummer benÃ¶tigt.",
        "operationId" : "getZahlungsplaene",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "name" : "ergebnisNummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Zahlungsplaene"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/zahlungsplaene/{zahlungsplanIndex}" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Zahlungsplan abrufen",
        "description" : "Den Zahlungsplan eines Finanzierungsvorschlags anhand einer Id abrufen. Als Parameter wird die ErmittlungsAnfrageId, die Ergebnisnummer sowie der Index des Zahlungsplans benÃ¶tigt.",
        "operationId" : "getZahlungsplan",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "name" : "ergebnisNummer",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "name" : "zahlungsplanIndex",
          "in" : "path",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Zahlungsplan"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ermittlungsAnfrage" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Ermittlungsanfrage abrufen",
        "description" : "Die Ermittlungsanfrage einer Ermittlung abrufen. Als Parameter wird die ErmittlungsId benÃ¶tigt.",
        "operationId" : "getErmittlungsAnfrage",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErmittlungsAnfrage"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ermittlungsAnfrage/erfassteDaten" : {
      "get" : {
        "tags" : [ "Version 2" ],
        "summary" : "Ermittlungsdaten abrufen",
        "description" : "Die Ermittlungsanfrage abrufen. Als Parameter wird die ErmittlungsId benÃ¶tigt.",
        "operationId" : "getErfassteDaten",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "Authorization Bearer Token",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-TraceId",
          "in" : "header",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ermittlungsId",
          "in" : "path",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErfassteDaten"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ]
      }
    },
    "/version/baufiSmartApi" : {
      "get" : {
        "tags" : [ "VersionController" ],
        "operationId" : "getBaufiSmartApiVersion",
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "text/plain" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "405" : {
            "description" : "Method Not Allowed",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "429" : {
            "description" : "Too Many Requests",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "502" : {
            "description" : "Bad Gateway",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          },
          "504" : {
            "description" : "Gateway Timeout",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "AnnuitaetenDarlehensWunsch" : {
        "required" : [ "darlehensBetrag", "tilgungsWunsch" ],
        "type" : "object",
        "properties" : {
          "darlehensBetrag" : {
            "type" : "number",
            "description" : "Der Darlehensbetrag muss ein positiver Wert zwischen 1000 und 10 Milliarden sein."
          },
          "bestehendesDarlehenDerImmobilieIdsBeiAbloesung" : {
            "type" : "array",
            "description" : "fÃ¼r Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG",
            "items" : {
              "type" : "string",
              "description" : "fÃ¼r Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
            }
          },
          "provision" : {
            "type" : "number"
          },
          "tilgungsWunsch" : {
            "$ref" : "#/components/schemas/TilgungsWunsch"
          },
          "bereitstellungsZinsFreieZeitInMonaten" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sondertilgungOptionalJaehrlich" : {
            "type" : "number"
          },
          "zinsBindungInJahren" : {
            "type" : "integer",
            "description" : "Wert muss grÃ¶Ãer 0 sein.",
            "format" : "int32"
          },
          "riesterGefoerdert" : {
            "type" : "boolean"
          },
          "riesterGefoerdertePerson" : {
            "type" : "string"
          },
          "auszahlungsZeitpunkt" : {
            "type" : "string",
            "format" : "date"
          }
        },
        "description" : "muss leer sein, wenn eines der anderen Attribute gefÃ¼llt ist"
      },
      "Antragsteller" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Dient der Referenzierung um beispielsweise Unterlagenanforderungen dem richtigen Antragssteller zuzuordnen. Der Wert kann frei definiert werden."
          },
          "anrede" : {
            "type" : "string",
            "enum" : [ "FRAU", "HERR" ]
          },
          "anschrift" : {
            "$ref" : "#/components/schemas/Postadresse"
          },
          "beschaeftigung" : {
            "$ref" : "#/components/schemas/Beschaeftigung"
          },
          "email" : {
            "type" : "string",
            "example" : "max.mustermann@test.de"
          },
          "familienstand" : {
            "type" : "string",
            "enum" : [ "GESCHIEDEN", "GETRENNT_LEBEND", "LEBENSPARTNERSCHAFT", "LEDIG", "VERHEIRATET", "VERWITWET" ]
          },
          "guetertrennungVereinbartWennVerheiratet" : {
            "type" : "boolean",
            "description" : "nur wenn verheiratet"
          },
          "geburtsdatum" : {
            "type" : "string",
            "format" : "date"
          },
          "geburtsort" : {
            "type" : "string"
          },
          "nachname" : {
            "type" : "string"
          },
          "staatsangehoerigkeit" : {
            "$ref" : "#/components/schemas/Staat"
          },
          "telefonnummer" : {
            "type" : "string"
          },
          "telefonnummerVorwahl" : {
            "type" : "string"
          },
          "titelDoktor" : {
            "type" : "boolean"
          },
          "titelProfessor" : {
            "type" : "boolean"
          },
          "vorAnschrift" : {
            "$ref" : "#/components/schemas/Postadresse"
          },
          "vorname" : {
            "type" : "string"
          },
          "weitereKontaktMoeglichkeiten" : {
            "type" : "string"
          },
          "wohnhaftSeit" : {
            "type" : "string",
            "format" : "date"
          },
          "legitimationsDaten" : {
            "$ref" : "#/components/schemas/LegitimationsDaten"
          },
          "aufenthaltsTitel" : {
            "type" : "string",
            "description" : "wenn keine deutsche StaatsangehÃ¶rigkeit",
            "enum" : [ "VISUM", "AUFENTHALTS_ERLAUBNIS", "NIEDERLASSUNGS_ERLAUBNIS", "DAUERAUFENTHALT_EU" ]
          },
          "aufenthaltsTitelBefristetBis" : {
            "type" : "string",
            "description" : "wenn Aufenthaltstitel befristet",
            "format" : "date"
          },
          "arbeitserlaubnis" : {
            "type" : "boolean",
            "description" : "wenn keine deutsche StaatsangehÃ¶rigkeit"
          },
          "arbeitserlaubnisBefristetBis" : {
            "type" : "string",
            "description" : "wenn Arbeitserlaubnis befristet",
            "format" : "date"
          },
          "inDeutschlandSeit" : {
            "type" : "string",
            "format" : "date"
          },
          "steuerId" : {
            "type" : "string"
          },
          "bruttoVorjahresEinkommen" : {
            "type" : "number"
          },
          "bruttoJahresEinkommenErwartet" : {
            "type" : "number"
          },
          "sozialVersicherungsNummer" : {
            "type" : "string"
          }
        }
      },
      "AusgabenMonatlich" : {
        "type" : "object",
        "properties" : {
          "ausgabenMonatlich" : {
            "type" : "number"
          }
        }
      },
      "Autostellplatz" : {
        "type" : "object",
        "properties" : {
          "mieteinnahmenMonatlich" : {
            "type" : "number"
          },
          "typ" : {
            "type" : "string",
            "enum" : [ "STELLPLATZ", "CARPORT", "GARAGE", "DOPPEL_GARAGE", "KELLER_GARAGE", "TIEFGARAGEN_STELLPLATZ" ]
          }
        }
      },
      "BankUndSparguthaben" : {
        "type" : "object",
        "properties" : {
          "aktuellerWert" : {
            "type" : "number",
            "description" : "Betrag des aktuellen Bank- und Sparguthaben"
          },
          "maximalAufzuloesenderWert" : {
            "type" : "number",
            "description" : "Maximal einzusetzender Betrag des  Bank- und Sparguthabens"
          },
          "vermoegensEinsatz" : {
            "type" : "string",
            "enum" : [ "KEIN_EINSATZ", "ABTRETEN", "AUFLOESEN" ]
          },
          "ertrag" : {
            "type" : "number",
            "description" : "Das Feld ist Deprecated und wird bis zur LÃ¶schung als Fallback fÃ¼r 'maximalAufzuloesenderWert' benutzt. Zur Angabe des einzusetzenden VermÃ¶gens dient das Feld 'maximalAufzuloesenderWert'. ",
            "deprecated" : true
          },
          "zukuenftigeEinnahmen" : {
            "type" : "number"
          },
          "zinsertragJaehrlich" : {
            "type" : "number"
          }
        }
      },
      "Bankverbindung" : {
        "type" : "object",
        "properties" : {
          "kontoinhaberIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "kontoinhaberName" : {
            "type" : "string"
          },
          "kreditinstitut" : {
            "type" : "string"
          },
          "iban" : {
            "type" : "string"
          },
          "bic" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          }
        }
      },
      "BausparAngebotExtern" : {
        "type" : "object",
        "properties" : {
          "tarif" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "vertragsNummer" : {
            "type" : "string"
          },
          "vertragsBeginn" : {
            "type" : "string",
            "format" : "date"
          },
          "bausparSumme" : {
            "type" : "number"
          },
          "produktAnbieter" : {
            "$ref" : "#/components/schemas/ProduktAnbieter"
          },
          "zuteilungsDatum" : {
            "type" : "string",
            "format" : "date"
          },
          "abschlussGebuehr" : {
            "type" : "number"
          },
          "verwaltungsgebuehrenJaehrlich" : {
            "type" : "number"
          },
          "sparPhase" : {
            "$ref" : "#/components/schemas/SparPhase"
          },
          "tilgungsPhase" : {
            "$ref" : "#/components/schemas/TilgungsPhase"
          },
          "sonderZahlungen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SonderZahlung"
            }
          },
          "angebotsHinweisFuerAntragsteller" : {
            "type" : "string"
          },
          "sparBeginn" : {
            "type" : "string",
            "format" : "date"
          },
          "typ" : {
            "type" : "string"
          }
        }
      },
      "BausparWunsch" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Zur Referenzierung an anderer Stelle notwendig. Wenn nicht angegeben, dann wird dieses Feld automatisch befÃ¼llt."
          },
          "bausparTarife" : {
            "type" : "array",
            "description" : "siehe weitere Beschreibung unter Weitere Informationen -> Bezeichnung Bauspartarife",
            "items" : {
              "type" : "string",
              "description" : "siehe weitere Beschreibung unter Weitere Informationen -> Bezeichnung Bauspartarife",
              "enum" : [ "BKM_MAX_PREMIUM_OPTIMAL", "BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE", "BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG", "BKM_MAX_PREMIUM_BESTER_ZINS", "BKM_HAUS_PLUS_OPTIMAL", "BKM_HAUS_PLUS_NIEDRIGE_SPARRATE", "BKM_HAUS_PLUS_NIEDRIGE_TILGUNG", "BKM_HAUS_PLUS_BESTER_ZINS", "BKM_ZINS_PLUS_2_BONUS", "BKM_ZINS_PLUS_3_BONUS", "BKM_HAUS_PLUS_WAHLZUTEILUNG", "FUCHS_IMMO_1", "FUCHS_IMMO_1_PLUS", "FUCHS_IMMO_2", "FUCHS_IMMO_3", "FUCHS_IMMO_4", "FUCHS_IMMO_5", "FUCHS_IMMO_6", "FUCHS_IMMO_7", "FUCHS_ECO_XE", "FUCHS_ECO_XT", "FUCHS_IMMO_WP", "FUCHS_IMMO_WS", "FUCHS_IMMO_XL", "FUCHS_IMMO_XP", "FUCHS_IMMO_XS", "FUCHS_START_XX", "FUCHS_START_XY", "LBS_BAYERN_T4_PLUS", "LBS_BAYERN_T4_PLUS_RIESTER", "LBS_BAYERN_T5_PLUS", "LBS_BAYERN_T5_PLUS_RIESTER", "LBS_BAYERN_T6_PLUS", "LBS_BAYERN_T6_PLUS_RIESTER", "LBS_BAYERN_T8", "LBS_BAYERN_T8_RIESTER", "LBS_BAYERN_T5", "LBS_BAYERN_T5_RIESTER", "LBS_BAYERN_U4_PLUS", "LBS_BAYERN_U4_PLUS_RIESTER", "LBS_BAYERN_U5_PLUS", "LBS_BAYERN_U5_PLUS_RIESTER", "LBS_BAYERN_U6_PLUS", "LBS_BAYERN_U6_PLUS_RIESTER", "LBS_BAYERN_U8", "LBS_BAYERN_U8_RIESTER", "LBS_BAYERN_U9", "LBS_BAYERN_U9_RIESTER", "LBS_BAYERN_U5", "LBS_BAYERN_U5_RIESTER", "LBS_BAYERN_W4", "LBS_BAYERN_W4_RIESTER", "LBS_BAYERN_W6", "LBS_BAYERN_W6_RIESTER", "LBS_BAYERN_W9", "LBS_BAYERN_W4_X30", "LBS_BAYERN_W4_X35", "LBS_BAYERN_W4_X40", "LBS_BAYERN_WF", "LBS_BAYERN_WU", "LBS_BAYERN_Z35", "LBS_BAYERN_Z35_RIESTER", "LBS_BAYERN_Z5", "LBS_BAYERN_Z5_RIESTER", "LBS_BAYERN_Z8", "LBS_BAYERN_ZF", "LBS_BAYERN_ZF_X45", "LBS_BAYERN_ZF_X45_RIESTER", "LBS_BAYERN_ZF_X40", "LBS_BAYERN_ZF_X40_RIESTER", "LBS_BAYERN_ZF_X35", "LBS_BAYERN_ZF_X35_RIESTER", "LBS_HT_CLASSIC_S_2015", "LBS_HT_CLASSIC_F_2015", "LBS_HT_CLASSIC_L_2015", "LBS_HT_CLASSIC_N_2015", "LBS_HT_HOME_M", "LBS_HT_HOME_L", "LBS_HT_HOME_XL", "LBS_HT_COMFORT_S", "LBS_HT_COMFORT_N", "LBS_HT_FLEX", "LBS_NORD_N_STARTER_S4", "LBS_NORD_N_STARTER_Q5", "LBS_NORD_N_STARTER_S5", "LBS_NORD_N_STARTER_S6", "LBS_NORD_N_FINANZIERER_F3", "LBS_NORD_N_FINANZIERER_F4", "LBS_NORD_N_FINANZIERER_F5", "LBS_NORD_N_FINANZIERER_F6", "LBS_NORD_N_FINANZIERER_F7", "LBS_NORD_N_FINANZIERER_MEINZUHAUSE", "LBS_NORD_N_MODERNISIERER_MINIZINS", "LBS_NORD_N_MODERNISIERER_M8", "LBS_NORD_N_MODERNISIERER_MX", "LBS_OST_CLASSIC15_F5", "LBS_OST_CLASSIC_F15_F5", "LBS_OST_CLASSIC_F_H4", "LBS_OST_CLASSIC_F_H5", "LBS_OST_CLASSIC_12_C4", "LBS_OST_CLASSIC_12_C9", "LBS_OST_CLASSIC15_F3", "LBS_OST_CLASSIC15_F4", "LBS_OST_CLASSIC15_F6", "LBS_OST_CLASSIC15_F8", "LBS_OST_CLASSIC15_PLUS_F", "LBS_OST_CLASSIC15_PLUS_S", "LBS_OST_VARIO_FLEX", "LBS_OST_CLASSIC20_F3", "LBS_OST_CLASSIC20_F8", "LBS_OST_CLASSIC20_PLUS_F", "LBS_OST_FLEX_22", "LBS_OST_KOMFORT_22", "LBS_OST_SPRINT_22", "LBS_OST_KONSTANT30_V095", "LBS_OST_KONSTANT30_V110", "LBS_OST_KONSTANT30_V130", "LBS_OST_KONSTANT30_V150", "LBS_OST_KONSTANT30_V170", "LBS_OST_KONSTANT30_V190", "LBS_OST_KONSTANT30_V210", "LBS_OST_KONSTANT30_V230", "LBS_OST_KONSTANT30_V250", "LBS_OST_KONSTANT30_V270", "LBS_OST_KONSTANT30_V290", "LBS_SHH_PRIMUS_SC", "LBS_SHH_PRIMUS_SD", "LBS_SHH_PRIMUS_SH", "LBS_SHH_PRIMUS_SI", "LBS_SHH_PRIMUS_SJ", "LBS_SHH_TREND_SD", "LBS_SHH_PRIMUS_TC", "LBS_SHH_PRIMUS_TH", "LBS_SHH_PRIMUS_TI", "LBS_SHH_PRIMUS_TJ", "LBS_SHH_PRIMUS_TD", "LBS_SHH_TREND_TD", "LBS_SHH_CLASSIC_TRAUMHAUS", "LBS_WEST_ZUHAUSE_DIREKT_10", "LBS_WEST_ZUHAUSE_DIREKT_15", "LBS_WEST_ZUHAUSE_PLUS", "LBS_WEST_ZUHAUSE_FLEX_4_S", "LBS_WEST_ZUHAUSE_FLEX_4_L", "LBS_WEST_ZUHAUSE_FLEX_5_S", "LBS_WEST_ZUHAUSE_FLEX_5_L", "LBS_WEST_ZUHAUSE_FLEX_6_S", "LBS_WEST_ZUHAUSE_FLEX_6_L", "LBS_WEST_ZUHAUSE_FLEX_8_S", "LBS_WEST_ZUHAUSE_FLEX_8_L", "LBS_WEST_ZUHAUSE_PRIMA", "LBS_WEST_ZUHAUSE_PRIMA_10", "LBS_WEST_ZUHAUSE_FLEX_4", "LBS_WEST_ZUHAUSE_FLEX_5", "LBS_WEST_ZUHAUSE_FLEX_6", "LBS_WEST_ZUHAUSE_FLEX_8", "LBS_WEST_ZUHAUSE_YOUNG", "LBS_WEST_ZUHAUSE_SPEZIAL", "LBS_WEST_RIESTER_ZUHAUSE_DIREKT_10", "LBS_WEST_RIESTER_ZUHAUSE_DIREKT_15", "LBS_WEST_RIESTER_ZUHAUSE_DIREKT_PLUS", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_4", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_5", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_6", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_8", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_S", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_S", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_S", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_S", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_4_L", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_5_L", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_6_L", "LBS_WEST_RIESTER_ZUHAUSE_FLEX_8_L", "LBS_WEST_RIESTER_ZUHAUSE_SPEZIAL", "LBS_WEST_RIESTER_KONSTANT_35", "LBS_WEST_RIESTER_KONSTANT_40", "LBS_WEST_RIESTER_KONSTANT_50", "LBS_WEST_KONSTANT_35", "LBS_WEST_KONSTANT_40", "LBS_WEST_KONSTANT_50", "LBS_WEST_RIESTER_KONSTANT_35_ANGEBOT", "LBS_WEST_RIESTER_KONSTANT_40_ANGEBOT", "LBS_WEST_RIESTER_KONSTANT_50_ANGEBOT", "LBS_WEST_KONSTANT_35_ANGEBOT", "LBS_WEST_KONSTANT_40_ANGEBOT", "LBS_WEST_KONSTANT_50_ANGEBOT", "LBS_SUEDWEST_KLASSIK_PLUS_2018", "LBS_SUEDWEST_LANGZEIT_PLUS_2019", "LBS_SUEDWEST_KLASSIK_PLUS_2020", "LBS_SUEDWEST_STANDARD_PLUS_2018", "LBS_SUEDWEST_LANGZEIT_PLUS_SPEZIAL", "LBS_SUEDWEST_NIEDRIGZINS", "LBS_SUEDWEST_ZUKUNFT_PLUS", "LBS_SAAR_PREMIUM_FLEX_18", "LBS_SAAR_PREMIUM_SICHER_18", "LBS_SAAR_PREMIUM_TOP_18", "LBS_SAAR_EXTRA_GUENSTIG_18", "LBS_SAAR_EXTRA_SICHER_18", "LBS_SAAR_EXTRA_SPEZIAL_18", "LBS_SAAR_CLASSIC_21_ZUHAUSE", "LBS_SAAR_FINANZIERER_20_ZUHAUSE", "LBS_SAAR_FINANZIERER_25_ZUHAUSE", "LBS_SAAR_FINANZIERER_30_ZUHAUSE", "LBS_SAAR_FINANZIERER_KONSTANT_ZUHAUSE", "LBS_SAAR_MODERNISIERER_ZUHAUSE", "LBS_SAAR_KLIMAFIT_ZUHAUSE", "LBS_SAAR_EINSTEIGER", "SIGNAL_IDUNA_FREIRAUM_F_35", "SIGNAL_IDUNA_FREIRAUM_F_35_16", "SIGNAL_IDUNA_FREIRAUM_F_45", "SIGNAL_IDUNA_FREIRAUM_F_45_16", "SIGNAL_IDUNA_FREIRAUM_F_60", "SIGNAL_IDUNA_FREIRAUM_F_30_MZ", "SIGNAL_IDUNA_FREIRAUM_F_30_MZ_16", "SIGNAL_IDUNA_FREIRAUM_F_35_MZ", "SIGNAL_IDUNA_FREIRAUM_F_35_MZ_16", "SIGNAL_IDUNA_FREIRAUM_F_40_MZ", "SIGNAL_IDUNA_FREIRAUM_F_40_MZ_16", "SIGNAL_IDUNA_FREIRAUM_F_45_MZ", "SIGNAL_IDUNA_FREIRAUM_F_45_MZ_16", "SIGNAL_IDUNA_FREIRAUM_F_50_MZ", "SIGNAL_IDUNA_FREIRAUM_F_60_MZ", "SIGNAL_IDUNA_FREIRAUM_F_30", "SIGNAL_IDUNA_FREIRAUM_F_30_16", "SIGNAL_IDUNA_FREIRAUM_F_40", "SIGNAL_IDUNA_FREIRAUM_F_40_16", "SIGNAL_IDUNA_FREIRAUM_F_50", "SIGNAL_IDUNA_FREIRAUM_F_50_16", "BHW_TARIF_FI1", "BHW_TARIF_FI2", "BHW_TARIF_FI3", "BHW_TARIF_FI4", "BHW_TARIF_FX1", "BHW_TARIF_FX2", "BHW_TARIF_REN", "BHW_TARIF_FI1N", "BHW_TARIF_FI2N", "BHW_TARIF_FX1N", "BHW_TARIF_FX2N", "DT_RING_TARIF_FT", "DT_RING_TARIF_FT_0", "DT_RING_TARIF_FT_1", "DT_RING_TARIF_FT_2", "DT_RING_TARIF_XT_1", "DT_RING_TARIF_XT_0", "DT_RING_TARIF_F_1", "DT_RING_TARIF_F_5", "DT_RING_TARIF_F_7", "ALTE_LEIPZIGER_1502", "ALTE_LEIPZIGER_1602", "ALTE_LEIPZIGER_1702", "ALTE_LEIPZIGER_1802", "ALTE_LEIPZIGER_1902", "ALTE_LEIPZIGER_2002", "ALTE_LEIPZIGER_1502_MZ", "ALTE_LEIPZIGER_1602_MZ", "ALTE_LEIPZIGER_1702_MZ", "ALTE_LEIPZIGER_1802_MZ", "ALTE_LEIPZIGER_1902_MZ", "ALTE_LEIPZIGER_2002_MZ", "ALTE_LEIPZIGER_1503", "ALTE_LEIPZIGER_1603", "ALTE_LEIPZIGER_1703", "ALTE_LEIPZIGER_1803", "ALTE_LEIPZIGER_1903", "ALTE_LEIPZIGER_2003", "ALTE_LEIPZIGER_1503_MZ", "ALTE_LEIPZIGER_1603_MZ", "ALTE_LEIPZIGER_1703_MZ", "ALTE_LEIPZIGER_1803_MZ", "ALTE_LEIPZIGER_1903_MZ", "ALTE_LEIPZIGER_2003_MZ", "ALTE_LEIPZIGER_150X", "ALTE_LEIPZIGER_160X", "ALTE_LEIPZIGER_170X", "ALTE_LEIPZIGER_180X", "ALTE_LEIPZIGER_190X", "ALTE_LEIPZIGER_200X", "ALTE_LEIPZIGER_150X_MZ", "ALTE_LEIPZIGER_160X_MZ", "ALTE_LEIPZIGER_170X_MZ", "ALTE_LEIPZIGER_180X_MZ", "ALTE_LEIPZIGER_190X_MZ", "ALTE_LEIPZIGER_200X_MZ", "ALTE_LEIPZIGER_ZG_21XX_20", "ALTE_LEIPZIGER_ZG_21XX_30", "ALTE_LEIPZIGER_ZG_25XX_49", "ALTE_LEIPZIGER_21XX_27", "ALTE_LEIPZIGER_21XX_20", "ALTE_LEIPZIGER_21XX_33", "ALTE_LEIPZIGER_21XX", "ALTE_LEIPZIGER_25XX_30", "ALTE_LEIPZIGER_25XX_45", "ALTE_LEIPZIGER_22XX_33", "ALTE_LEIPZIGER_22XX_27", "ALTE_LEIPZIGER_22XX_20", "ALTE_LEIPZIGER_22XX", "ALTE_LEIPZIGER_26XX_30", "ALTE_LEIPZIGER_26XX_45", "WUESTENROT_01063_4", "WUESTENROT_01063_5", "WUESTENROT_01063_6", "WUESTENROT_01063_7", "WUESTENROT_01063_8", "WUESTENROT_01063_9", "WUESTENROT_01063_10", "WUESTENROT_01063_12", "WUESTENROT_01064_4", "WUESTENROT_01064_6", "WUESTENROT_01064_8", "WUESTENROT_01064_10", "WUESTENROT_01064_12", "WUESTENROT_01061_10", "WUESTENROT_01062_4", "WUESTENROT_01061_10_0000", "WUESTENROT_01062_04_0000", "WUESTENROT_01063_05_3585", "WUESTENROT_01063_07_5110", "WUESTENROT_01063_09_0000", "WUESTENROT_01064_10_0000", "WUESTENROT_01064_04_0000", "WUESTENROT_01064_04_5000", "WUESTENROT_01064_05_4121", "WUESTENROT_01064_06_0000", "WUESTENROT_01064_07_5161", "WUESTENROT_01064_09_0000", "WUESTENROT_01073_04_5000", "WUESTENROT_01073_05_9000", "WUESTENROT_01073_08_0000", "WUESTENROT_01076_05_8633", "WUESTENROT_01076_07_9872", "WUESTENROT_01076_08_0000", "WUESTENROT_01077_04_0000", "WUESTENROT_01077_04_7000", "WUESTENROT_01077_06_3000", "WUESTENROT_01077_07_5000", "WUESTENROT_01077_06_2500", "WUESTENROT_01077_07_9648", "WUESTENROT_01077_08_0000", "WUESTENROT_01074_10_0000", "WUESTENROT_01075_03_5000", "WUESTENROT_01079_04_0000", "WUESTENROT_01079_04_5000", "WUESTENROT_01078_04_0000", "DEUTSCHE_BANK_BAUSPAR_TARIF_FI1", "DEUTSCHE_BANK_BAUSPAR_TARIF_FI2", "DEUTSCHE_BANK_BAUSPAR_TARIF_FI3", "DEUTSCHE_BANK_BAUSPAR_TARIF_FI4", "DEUTSCHE_BANK_BAUSPAR_TARIF_FX1", "DEUTSCHE_BANK_BAUSPAR_TARIF_FX2" ]
            }
          },
          "vertragsPartnerIds" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "abschlussGebuehrenVerrechnung" : {
            "type" : "string",
            "enum" : [ "SOFORTZAHLUNG", "VERRECHNUNG" ]
          },
          "bausparSummeAbsolut" : {
            "type" : "number"
          },
          "bausparSummeRelativ" : {
            "type" : "number"
          },
          "sparBeitragMonatlichAbsolut" : {
            "type" : "number"
          },
          "sparBeitragMonatlichRelativ" : {
            "type" : "number"
          },
          "tilgungsBeitragMonatlich" : {
            "type" : "number"
          },
          "zuteilungsDatum" : {
            "type" : "string",
            "format" : "date"
          },
          "sparBeginn" : {
            "type" : "string",
            "description" : "Der Beginn des Besparens des Bausparvertrags ist frei festlegbar.",
            "format" : "date"
          },
          "verwendung" : {
            "type" : "string",
            "enum" : [ "ZINS_ABSICHERUNG", "TILGUNGS_AUSGESETZT" ]
          },
          "riesterFoerderung" : {
            "type" : "boolean"
          },
          "sonderZahlungen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SonderZahlung"
            }
          },
          "zulagenVerwendung" : {
            "type" : "string",
            "enum" : [ "SONDERZAHLUNG", "VERRECHNUNG" ]
          }
        },
        "description" : "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut, sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich, zuteilungsDatum und sparBeginn kÃ¶nnen maximal drei befÃ¼llt werden."
      },
      "Beschaeftigung" : {
        "type" : "object",
        "properties" : {
          "art" : {
            "type" : "string",
            "enum" : [ "ANGESTELLTER", "ARBEITER", "BEAMTER", "FREIBERUFLER", "SELBSTAENDIGER", "RENTNER", "HAUSFRAU", "ARBEITSLOSER" ]
          },
          "branche" : {
            "type" : "string",
            "description" : "Allgemeine Branche des Antragstellers. Wird verwendet um fÃ¼r die verschiedenen Banken die Zusatzangabe Branche zu bilden.",
            "enum" : [ "LANDWIRTSCHAFT_FORSTWIRTSCHAFT_FISCHEREI", "BERGBAU_GEWINNUNG_VON_STEINEN_UND_ERDEN", "VERARBEITENDES_GEWERBE", "WASSERVERSORGUNG", "ENERGIEVERSORGUNG", "BAUGEWERBE", "HANDEL_INSTANDHALTUNG_VON_KRAFTFAHRZEUGEN", "VERKEHR_LOGISTIK", "GASTGEWERBE", "INFORMATION_KOMMUNIKATION", "FINANZ_UND_VERSICHERUNGSDIENSTLEISTUNGEN", "GRUNDSTÃCKS_UND_WOHNUNGSWESEN", "FREIBERUFLICHE_WISSENSCHAFTLICHE_UND_TECHNISCHE_DIENSTLEISTUNGEN", "SONSTIGE_WIRTSCHAFTLICHE_DIENSTLEISTUNGEN", "OEFFENTLICHE_VERWALTUNG_VERTEIDIGUNG_SOZIALVERSICHERUNG", "ERZIEHUNG_UNTERRICHT", "GESUNDHEIT_UND_SOZIALWESEN", "KUNST_UNTERHALTUNG_ERHOLUNG", "SONSTIGE_DIENSTLEISTUNGEN", "PRIVATE_HAUSHALTE" ]
          },
          "anzahlGehaelterProJahr" : {
            "type" : "number",
            "description" : "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER",
            "format" : "double"
          },
          "arbeitgeberInDeutschlandAnsaessig" : {
            "type" : "boolean",
            "description" : "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER"
          },
          "befristungsStatus" : {
            "type" : "string",
            "description" : "nur bei art == ANGESTELLTER, ARBEITER",
            "enum" : [ "BEFRISTET", "UNBEFRISTET" ]
          },
          "beschaeftigtSeit" : {
            "type" : "string",
            "description" : "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER, FREIBERUFLER, SELBSTAENDIGER",
            "format" : "date"
          },
          "einkommenNettoMonatlich" : {
            "type" : "number",
            "description" : "nur bei art != FREIBERUFLER, SELBSTAENDIGER"
          },
          "inProbezeit" : {
            "type" : "boolean",
            "description" : "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER"
          },
          "arbeitgeber" : {
            "type" : "string",
            "description" : "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER"
          },
          "einkommenNettoJaehrlich" : {
            "type" : "number",
            "description" : "nur bei art == FREIBERUFLER, SELBSTAENDIGER"
          },
          "taetigkeit" : {
            "type" : "string",
            "description" : "nur bei art == FREIBERUFLER, SELBSTAENDIGER.",
            "enum" : [ "ALTENPFLEGER", "AMBULANTER_KRANKENPFLEGER", "ANWALT", "APOTHEKER", "ARCHITEKT", "ARZT", "BESTATTER", "DATENSCHUTZBEAUFTRAGTER", "DEKORATEUR", "DIAETASSISTENT", "DOLMETSCHER", "EDV_BERATER", "ERGOTHERAPEUT", "ERNAEHRUNGSBERATER", "FOTOGRAF", "GEOGRAF", "GRAFIKDESIGNER", "GRAFIKER", "HEBAMME", "HEILMASSEUR", "HEILPRAKTIKER", "HISTORIKER", "INFORMATIKER", "INGENIEUR", "INSOLVENZVERWALTER", "JOURNALIST", "KLASSISCHER_KONZERTMUSIKER", "KONSTRUKTEUR", "KRANKENGYMNAST", "KRANKENPFLEGER", "KRANKENSCHWESTER", "LOGOPAEDE", "MEDIZINISCH_TECHN_ASSISTENT", "NOTAR", "OPERNSAENGER", "PERSONALBERATER", "PHYSIOTHERAPEUT", "PSYCHOLOGE", "RAUMAUSSTATTER", "RUNDFUNKSPRECHER", "SACHVERSTAENDIGER", "STADTPLANER", "STATIKER", "STEUERBERATER", "TIERARZT", "UNTERNEHMENSBERATER", "VERMITTLER", "WIRTSCH_BUCHPRUEFER_REVISOR", "ZAHNARZT", "ZAHNTECHNIKER", "SONSTIGES" ]
          },
          "beruf" : {
            "type" : "string",
            "description" : "nur bei art != RENTNER"
          },
          "situationNachRenteneintritt" : {
            "$ref" : "#/components/schemas/SituationNachRenteneintritt"
          },
          "arbeitgeberLand" : {
            "$ref" : "#/components/schemas/Staat"
          }
        }
      },
      "BestehendeImmobilie" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Postadresse"
          },
          "autostellplaetze" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Autostellplatz"
            }
          },
          "erbbaurecht" : {
            "$ref" : "#/components/schemas/Erbbaurecht"
          },
          "grundbuchAngabe" : {
            "$ref" : "#/components/schemas/GrundbuchAngabe"
          },
          "vorlaeufigerVerkehrswert" : {
            "type" : "number",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "effektivZinsErhoehendeKosten" : {
            "$ref" : "#/components/schemas/EffektivZinsErhoehendeKosten"
          },
          "bewirtschaftungsKostenJaehrlich" : {
            "type" : "number"
          },
          "wohnlage" : {
            "type" : "string",
            "enum" : [ "GEHOBEN", "MITTEL", "EINFACH" ]
          },
          "vergleichsmieteFuerWohnflaecheProQm" : {
            "type" : "number"
          },
          "vergleichsmieteFuerGewerbeflaecheProQm" : {
            "type" : "number"
          },
          "marktueblicherKaufpreisProQm" : {
            "type" : "number"
          },
          "keinBaulandFlaecheInQm" : {
            "type" : "number",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "bodenRichtwert" : {
            "type" : "number"
          },
          "grundstueck" : {
            "$ref" : "#/components/schemas/Grundstueck"
          },
          "gebaeude" : {
            "$ref" : "#/components/schemas/Gebaeude"
          },
          "objektArt" : {
            "type" : "string",
            "enum" : [ "GRUNDSTUECK", "EIGENTUMSWOHNUNG", "HAUS" ]
          },
          "verkehrswert" : {
            "type" : "number",
            "description" : "Verkehrswert, nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung"
          },
          "immobilienEinsatz" : {
            "type" : "string",
            "enum" : [ "KEIN_EINSATZ", "VERKAUFEN", "ALS_ZUSATZSICHERHEIT" ]
          },
          "maximalEinzusetzenderBetragWennVerkauf" : {
            "type" : "number"
          },
          "keineBestehendenDarlehenVorhanden" : {
            "type" : "boolean"
          },
          "bestehendeDarlehen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BestehendesDarlehen"
            }
          }
        }
      },
      "BestehenderBausparvertrag" : {
        "type" : "object",
        "properties" : {
          "tarif" : {
            "type" : "string"
          },
          "id" : {
            "type" : "string"
          },
          "vertragsNummer" : {
            "type" : "string"
          },
          "vertragsBeginn" : {
            "type" : "string",
            "format" : "date"
          },
          "bausparSumme" : {
            "type" : "number"
          },
          "produktAnbieter" : {
            "$ref" : "#/components/schemas/ProduktAnbieter"
          },
          "zuteilungsDatum" : {
            "type" : "string",
            "format" : "date"
          },
          "abschlussGebuehr" : {
            "type" : "number"
          },
          "verwaltungsgebuehrenJaehrlich" : {
            "type" : "number"
          },
          "vermoegensEinsatz" : {
            "type" : "string",
            "enum" : [ "KEIN_EINSATZ", "ABTRETEN", "AUFLOESEN" ]
          },
          "maximalAufzuloesenderBetrag" : {
            "type" : "number"
          },
          "sparBeitragMonatlich" : {
            "type" : "number"
          },
          "aktuellerWert" : {
            "type" : "number"
          },
          "ertrag" : {
            "type" : "number"
          },
          "zukuenftigeEinnahmen" : {
            "type" : "number"
          },
          "typ" : {
            "type" : "string"
          }
        }
      },
      "BestehendesDarlehen" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "aktuelleRestschuldWennNichtAbzuloesen" : {
            "type" : "number",
            "description" : "nur wenn wirdAbgeloest == false"
          },
          "abzuloesendeRestschuld" : {
            "type" : "number"
          },
          "darlehensArt" : {
            "type" : "string",
            "enum" : [ "BAUSPARDARLEHEN", "FOERDERDARLEHEN", "IMMOBILIENDARLEHEN", "SONSTIGES_DARLEHEN", "PRIVATDARLEHEN" ]
          },
          "darlehensGeber" : {
            "$ref" : "#/components/schemas/ProduktAnbieter"
          },
          "eingetrageneGrundschuld" : {
            "type" : "number"
          },
          "rateMonatlich" : {
            "type" : "number"
          },
          "zinsBindungEndetAm" : {
            "type" : "string",
            "format" : "date"
          },
          "laufzeitEnde" : {
            "type" : "string",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt.",
            "format" : "date"
          },
          "darlehensKontonummer" : {
            "type" : "string",
            "description" : "fÃ¼r Prolongation, d.h. technisch: Vorhaben verwendungszweck == ANSCHLUSSFINANZIERUNG"
          },
          "sondertilgungZumZinsBindungsEnde" : {
            "type" : "number",
            "description" : "fÃ¼r Prolongation, d.h. technisch: Vorhaben verwendungszweck == ANSCHLUSSFINANZIERUNG"
          },
          "darlehensBetrag" : {
            "type" : "number",
            "description" : "fÃ¼r Prolongation, d.h. technisch: Vorhaben verwendungszweck == ANSCHLUSSFINANZIERUNG"
          },
          "sollZins" : {
            "type" : "number"
          },
          "grundschuldArt" : {
            "type" : "string",
            "enum" : [ "BRIEF_GRUNDSCHULD", "BUCH_GRUNDSCHULD" ]
          }
        }
      },
      "BestehendesDarlehenDesFinanzierungsObjekts" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "aktuelleRestschuldWennNichtAbzuloesen" : {
            "type" : "number",
            "description" : "nur wenn wirdAbgeloest == false"
          },
          "abzuloesendeRestschuld" : {
            "type" : "number"
          },
          "darlehensArt" : {
            "type" : "string",
            "enum" : [ "BAUSPARDARLEHEN", "FOERDERDARLEHEN", "IMMOBILIENDARLEHEN", "SONSTIGES_DARLEHEN", "PRIVATDARLEHEN" ]
          },
          "darlehensGeber" : {
            "$ref" : "#/components/schemas/ProduktAnbieter"
          },
          "eingetrageneGrundschuld" : {
            "type" : "number"
          },
          "rateMonatlich" : {
            "type" : "number"
          },
          "zinsBindungEndetAm" : {
            "type" : "string",
            "format" : "date"
          },
          "laufzeitEnde" : {
            "type" : "string",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt.",
            "format" : "date"
          },
          "darlehensKontonummer" : {
            "type" : "string",
            "description" : "fÃ¼r Prolongation, d.h. technisch: Vorhaben verwendungszweck == ANSCHLUSSFINANZIERUNG"
          },
          "sondertilgungZumZinsBindungsEnde" : {
            "type" : "number",
            "description" : "fÃ¼r Prolongation, d.h. technisch: Vorhaben verwendungszweck == ANSCHLUSSFINANZIERUNG"
          },
          "darlehensBetrag" : {
            "type" : "number",
            "description" : "fÃ¼r Prolongation, d.h. technisch: Vorhaben verwendungszweck == ANSCHLUSSFINANZIERUNG"
          },
          "sollZins" : {
            "type" : "number"
          },
          "grundschuldArt" : {
            "type" : "string",
            "enum" : [ "BRIEF_GRUNDSCHULD", "BUCH_GRUNDSCHULD" ]
          },
          "verwendenAls" : {
            "type" : "string",
            "description" : "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben, behandelt werden soll. Wenn es sich um eine Anschlussfinanzierung handelt, und ein bestehendes Darlehen vorhanden ist, dann muss dieses den Wert 'verwendenAls'='ABLOESEN' beinhalten",
            "enum" : [ "ABLOESEN", "TRITT_IM_RANG_ZURUECK", "TRITT_NICHT_IM_RANG_ZURUECK" ]
          }
        }
      },
      "DarlehensWunsch" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Zur Referenzierung an anderer Stelle notwendig. Wenn nicht angegeben, dann wird dieses Feld automatisch befÃ¼llt."
          },
          "annuitaetenDarlehen" : {
            "$ref" : "#/components/schemas/AnnuitaetenDarlehensWunsch"
          },
          "forwardDarlehen" : {
            "$ref" : "#/components/schemas/ForwardDarlehensWunsch"
          },
          "regionalFoerderDarlehen" : {
            "$ref" : "#/components/schemas/RegionalFoerderDarlehensWunsch"
          },
          "kfwDarlehen" : {
            "$ref" : "#/components/schemas/KfwDarlehensWunsch"
          },
          "privatDarlehen" : {
            "$ref" : "#/components/schemas/PrivatDarlehensWunsch"
          },
          "zwischenFinanzierung" : {
            "$ref" : "#/components/schemas/ZwischenFinanzierungsWunsch"
          },
          "variablesDarlehen" : {
            "$ref" : "#/components/schemas/VariablesDarlehensWunsch"
          }
        }
      },
      "EffektivZinsErhoehendeKosten" : {
        "type" : "object",
        "properties" : {
          "anpassen" : {
            "type" : "boolean",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "wohnGebaeudeVersicherungsKostenJaehrlich" : {
            "type" : "number",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "grundbuchEintragungsKostenEinmalig" : {
            "type" : "number",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "sonstigeKostenBezeichnung" : {
            "type" : "string",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "sonstigeKostenEinmalig" : {
            "type" : "number",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          }
        },
        "description" : "Effektivzinsbeeinflussende Kosten - Anpassungen nach PAngV"
      },
      "EinkuenfteAusNebentaetigkeit" : {
        "type" : "object",
        "properties" : {
          "einnahmenMonatlich" : {
            "type" : "number"
          },
          "beginnDerNebentaetigkeit" : {
            "type" : "string",
            "format" : "date"
          }
        }
      },
      "EinnahmenMonatlich" : {
        "type" : "object",
        "properties" : {
          "einnahmenMonatlich" : {
            "type" : "number"
          }
        }
      },
      "Erbbaurecht" : {
        "type" : "object",
        "properties" : {
          "erbbaurecht" : {
            "type" : "boolean",
            "description" : "Erbbaurecht vorhanden"
          },
          "erbbauzinsJaehrlich" : {
            "type" : "number"
          },
          "grundstuecksEigentuemer" : {
            "type" : "string",
            "enum" : [ "ANDERE", "OEFFENTLICH_KIRCHLICH" ]
          },
          "laufzeitBisJahr" : {
            "type" : "string",
            "description" : "Die Jahreszahl wird als vierstellig reprÃ¤sentiert.",
            "example" : "2037"
          }
        }
      },
      "ErfassteDaten" : {
        "required" : [ "vorhaben" ],
        "type" : "object",
        "properties" : {
          "vorgangsNummer" : {
            "type" : "string"
          },
          "externeVorgangsNummer" : {
            "type" : "string"
          },
          "erstelltAm" : {
            "type" : "string",
            "format" : "date",
            "readOnly" : true
          },
          "tippGeber" : {
            "$ref" : "#/components/schemas/Partner"
          },
          "kundenBetreuer" : {
            "$ref" : "#/components/schemas/Partner"
          },
          "vorgangsBearbeiter" : {
            "$ref" : "#/components/schemas/Partner"
          },
          "bankverbindung" : {
            "$ref" : "#/components/schemas/Bankverbindung"
          },
          "haushalte" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Haushalt"
            }
          },
          "finanzierungsObjekt" : {
            "$ref" : "#/components/schemas/FinanzierungsObjekt"
          },
          "vorhaben" : {
            "$ref" : "#/components/schemas/Vorhaben"
          },
          "leadTracking" : {
            "$ref" : "#/components/schemas/LeadTracking"
          },
          "datenKontext" : {
            "type" : "string",
            "enum" : [ "TEST_MODUS", "ECHT_GESCHAEFT" ]
          }
        }
      },
      "Finanzbedarf" : {
        "type" : "object",
        "properties" : {
          "aussenAnlagen" : {
            "type" : "number"
          },
          "bauNebenkosten" : {
            "type" : "number"
          },
          "bereitsBeglichen" : {
            "type" : "number"
          },
          "erschliessung" : {
            "type" : "number"
          },
          "herstellung" : {
            "type" : "number",
            "description" : "inklusive Eigenleistungen"
          },
          "kapitalWirdBeschafft" : {
            "type" : "boolean"
          },
          "kapitalBeschaffung" : {
            "type" : "number"
          },
          "grunderwerbsteuer" : {
            "type" : "number",
            "description" : "Nebenkosten"
          },
          "grundstuecksKaufpreis" : {
            "type" : "number"
          },
          "grundstueckBereitsBezahlt" : {
            "type" : "boolean"
          },
          "kaufpreis" : {
            "type" : "number",
            "description" : "inklusive Eigenleistungen"
          },
          "maklergebuehr" : {
            "type" : "number",
            "description" : "Nebenkosten"
          },
          "beratungsHonorar" : {
            "type" : "number"
          },
          "mobiliar" : {
            "type" : "number"
          },
          "modernisieren" : {
            "type" : "boolean"
          },
          "modernisierung" : {
            "type" : "number",
            "description" : "inklusive Eigenleistungen"
          },
          "notargebuehr" : {
            "type" : "number",
            "description" : "Nebenkosten"
          },
          "renovierung" : {
            "type" : "number"
          },
          "zusaetzlichesKapital" : {
            "type" : "number"
          },
          "sonstigeKosten" : {
            "type" : "number"
          }
        }
      },
      "FinanzierungsObjekt" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "adresse" : {
            "$ref" : "#/components/schemas/Postadresse"
          },
          "autostellplaetze" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Autostellplatz"
            }
          },
          "erbbaurecht" : {
            "$ref" : "#/components/schemas/Erbbaurecht"
          },
          "grundbuchAngabe" : {
            "$ref" : "#/components/schemas/GrundbuchAngabe"
          },
          "vorlaeufigerVerkehrswert" : {
            "type" : "number",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "effektivZinsErhoehendeKosten" : {
            "$ref" : "#/components/schemas/EffektivZinsErhoehendeKosten"
          },
          "bewirtschaftungsKostenJaehrlich" : {
            "type" : "number"
          },
          "wohnlage" : {
            "type" : "string",
            "enum" : [ "GEHOBEN", "MITTEL", "EINFACH" ]
          },
          "vergleichsmieteFuerWohnflaecheProQm" : {
            "type" : "number"
          },
          "vergleichsmieteFuerGewerbeflaecheProQm" : {
            "type" : "number"
          },
          "marktueblicherKaufpreisProQm" : {
            "type" : "number"
          },
          "keinBaulandFlaecheInQm" : {
            "type" : "number",
            "description" : "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berÃ¼cksichtigt."
          },
          "bodenRichtwert" : {
            "type" : "number"
          },
          "grundstueck" : {
            "$ref" : "#/components/schemas/Grundstueck"
          },
          "gebaeude" : {
            "$ref" : "#/components/schemas/Gebaeude"
          },
          "objektArt" : {
            "type" : "string",
            "enum" : [ "GRUNDSTUECK", "EIGENTUMSWOHNUNG", "HAUS" ]
          },
          "verkehrswert" : {
            "type" : "number",
            "description" : "Verkehrswert, nur relevant bei Finanzbedarf AnschlussFinanzierung, Modernisierung und Kapitalbeschaffung"
          },
          "bestehendeDarlehen" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BestehendesDarlehenDesFinanzierungsObjekts"
            }
          }
        }
      },
      "Finanzierungswunsch" : {
        "required" : [ "darlehensWuensche" ],
        "type" : "object",
        "properties" : {
          "id" : {
            "type" : "string"
          },
          "darlehensWuensche" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DarlehensWunsch"
            }
          },
          "bausparWuensche" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BausparWunsch"
            }
          }
        }
      },
      "Flurstueck" : {
        "type" : "object",
        "properties" : {
          "anteil" : {
            "$ref" : "#/components/schemas/MiteigentumsAnteil"
          },
          "flur" : {
            "type" : "string"
          },
          "flurstuecksNummer" : {
            "type" : "string"
          },
          "groesse" : {
            "type" : "number"
          }
        }
      },
      "ForwardDarlehensWunsch" : {
        "required" : [ "darlehensBetrag", "tilgungsWunsch" ],
        "type" : "object",
        "properties" : {
          "darlehensBetrag" : {
            "type" : "number",
            "description" : "Der Darlehensbetrag muss ein positiver Wert zwischen 1000 und 10 Milliarden sein."
          },
          "bestehendesDarlehenDerImmobilieIdsBeiAbloesung" : {
            "type" : "array",
            "description" : "fÃ¼r Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG",
            "items" : {
              "type" : "string",
              "description" : "fÃ¼r Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
            }
          },
          "provision" : {
            "type" : "number"
          },
          "tilgungsWunsch" : {
            "$ref" : "#/components/schemas/TilgungsWunsch"
          },
          "auszahlungsDatum" : {
            "type" : "string",
            "format" : "date",
            "deprecated" : true
          },
          "bereitstellungsZinsFreieZeitInMonaten" : {
            "type" : "integer",
            "format" : "int32"
          },
          "sondertilgungOptionalJaehrlich" : {
            "type" : "number"
          },
          "zinsBindungInJahren" : {
            "type" : "integer",
            "description" : "Wert muss grÃ¶Ãer 0 sein.",
            "format" : "int32"
          }
        },
        "description" : "muss leer sein, wenn eines der anderen Attribute gefÃ¼llt ist"
      },
      "Gebaeude" : {
        "type" : "object",
        "properties" : {
          "kellerausbau" : {
            "type" : "string",
            "enum" : [ "AUSGEBAUT", "TEILWEISE_AUSGEBAUT", "VORHANDEN" ]
          },
          "anzahlVollgeschosse" : {
            "type" : "integer",
            "format" : "int32"
          },
          "ausstattung" : {
            "type" : "string",
            "enum" : [ "EINFACH", "MITTEL", "GEHOBEN", "STARK_GEHOBEN" ]
          },
          "baujahr" : {
            "type" : "string",
            "description" : "Die Jahreszahl wird als vierstellig reprÃ¤sentiert.",
            "example" : "2022"
          },
          "bauweise" : {
            "type" : "string",
            "enum" : [ "FACHWERK_MIT_STROH_LEHM", "FACHWERK_MIT_ZIEGELN", "GLAS_STAHL", "HOLZ", "MASSIV" ]
          },
          "anzahlDerWohneinheitenImGebaeude" : {
            "type" : "integer",
            "format" : "int32"
          },
[...]
