{
  "openapi" : "3.0.1",
  "info" : {
    "contact" : {
      "email" : "devsupport@europace2.de",
      "name" : "Europace AG",
      "url" : "https://developer.europace.de"
    },
    "description" : "Ein Service um eine Ergebnisliste mit Finanzierungsvorschlägen zu ermitteln",
    "termsOfService" : "https://docs.api.europace.de/nutzungsbedingungen/",
    "title" : "Angebote API",
    "version" : "3.0.7"
  },
  "externalDocs" : {
    "url" : "https://docs.api.europace.de/baufinanzierung/angebote/angebote-api/"
  },
  "servers" : [ {
    "url" : "https://baufinanzierung.api.europace.de",
    "description" : "Produktionsserver"
  } ],
  "tags" : [ {
    "description" : "Eine Liste mit Finanzierungsvorschlägen abrufen, API-Version 3",
    "name" : "Version 3"
  }, {
    "description" : "Liefert die Version der BaufiSmart-API",
    "name" : "VersionController"
  }, {
    "description" : "Eine Liste mit Finanzierungsvorschlägen abrufen, API-Version 1",
    "name" : "Version 1"
  }, {
    "description" : "Eine Liste mit Finanzierungsvorschlägen abrufen, API-Version 2",
    "name" : "Version 2"
  } ],
  "paths" : {
    "/v1/finanzierungsvorschlaege" : {
      "post" : {
        "description" : "Als Parameter wird der Vorgang als JSON im Body benötigt",
        "operationId" : "getFinanzierungsVorschlaege",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "alternativen",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "in" : "query",
          "name" : "produktAnbieter",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErfassteDaten"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ermittle Ergebnisse",
        "tags" : [ "Version 1" ]
      }
    },
    "/v1/finanzierungsvorschlaege/{vorgangsNummer}" : {
      "get" : {
        "description" : "Als Parameter wird eine Vorgangsnummer benötigt",
        "operationId" : "getFinanzierungsVorschlaege_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsNummer",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "produktAnbieter",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "in" : "query",
          "name" : "alternativen",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ermittle Ergebnisse",
        "tags" : [ "Version 1" ]
      }
    },
    "/v2/ergebnisliste/ermittlung" : {
      "post" : {
        "description" : "Als Parameter wird eine Vorgangsnummer oder der Vorgang als JSON im Body benötigt",
        "operationId" : "ermittleErgebnisse_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "vorgangsNummer",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "query",
          "name" : "alternativen",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "in" : "query",
          "name" : "produktAnbieter",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "in" : "query",
          "name" : "excludierteProduktAnbieter",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "in" : "query",
          "name" : "provisionsAusgabe",
          "required" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErfassteDaten"
              }
            }
          }
        },
        "responses" : {
          "302" : {
            "description" : "Die Ermittlung wurde erzeugt und ist maximal eine Stunde unter der Url im 'location' Header abrufbar."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ermittlung erzeugen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}" : {
      "get" : {
        "description" : "Die Ermittlung abrufen. Als Parameter wird die Ermittlungs-Id benötigt.",
        "operationId" : "getErmittlung",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ermittlung"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ermittlung abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse" : {
      "get" : {
        "description" : "Als Parameter wird die Ermittlungs-Id benötigt.",
        "operationId" : "getErgebnisListe_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErgebnisListe"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ergebnisse abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}" : {
      "get" : {
        "description" : "Das Ergebnis einer Ermittlung abrufen. Als Parameter wird die Ermittlungs-Id und der Ergebnisnummer benötigt.",
        "operationId" : "getErgebnis_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ergebnis"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ergebnis abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/meldungen" : {
      "get" : {
        "description" : "Die Meldungen eines Finanzierungsvorschlags abrufen. Als Parameter wird die Ermittlungs-Id und die Ergebnisnummer benötigt.",
        "operationId" : "getMeldungen_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Meldungen"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Meldungen abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/provision" : {
      "get" : {
        "description" : "Abruf der Provision des Darlehens. Als Parameter wird die Ermittlungs-Id und die Ergebnisnummer benötigt.",
        "operationId" : "getProvision_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "in" : "query",
          "name" : "repeat",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvisionsInfo"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Provision abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/unterlagen" : {
      "get" : {
        "description" : "Abrufen der benötigten Unterlagen des Finanzierungsvorschlags. Als Parameter wird die Ermittlungs-Id und die Ergebnisnummer benötigt.",
        "operationId" : "getUnterlagen_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Unterlagen"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Unterlagen abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/zahlungsplaene" : {
      "get" : {
        "description" : "Die Zahlungspläne eines Finanzierungsvorschlags abrufen. Als Parameter wird die Ermittlungs-Id und die Ergebnisnummer benötigt.",
        "operationId" : "getZahlungsplaene_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Zahlungsplaene"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Zahlungspläne abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ergebnisse/{ergebnisNummer}/zahlungsplaene/{zahlungsplanIndex}" : {
      "get" : {
        "description" : "Den Zahlungsplan eines Finanzierungsvorschlags anhand einer Id abrufen. Als Parameter wird die Ermittlungs-Id, die Ergebnisnummer sowie der Index des Zahlungsplans benötigt.",
        "operationId" : "getZahlungsplan_1",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisNummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "in" : "path",
          "name" : "zahlungsplanIndex",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Zahlungsplan"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Zahlungsplan abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ermittlungsAnfrage" : {
      "get" : {
        "description" : "Die Ermittlungsanfrage einer Ermittlung abrufen. Als Parameter wird die Ermittlungs-Id benötigt.",
        "operationId" : "getErmittlungsAnfrage",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErmittlungsAnfrage"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ermittlungsanfrage abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v2/ergebnisliste/ermittlung/{ermittlungsId}/ermittlungsAnfrage/erfassteDaten" : {
      "get" : {
        "description" : "Die Ermittlungsanfrage abrufen. Als Parameter wird die Ermittlungs-Id benötigt.",
        "operationId" : "getErfassteDaten",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ermittlungsId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErfassteDaten"
                }
              }
            },
            "description" : "OK"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ermittlungsdaten abrufen",
        "tags" : [ "Version 2" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste" : {
      "post" : {
        "description" : "Als Parameter wird eine Vorgangsnummer benötigt",
        "operationId" : "ermittleErgebnisse",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ErmittleErgebnisseRequestBody"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ergebnisliste"
                }
              }
            },
            "description" : "Die Ermittlung wurde erzeugt und ist maximal eine Stunde unter der Url im 'location' Header abrufbar."
          },
          "204" : {
            "description" : "Basierend auf dem Parameter gibt es keinen zurückzugebenden Inhalt."
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ermittlung erzeugen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}" : {
      "get" : {
        "description" : "Als Parameter werden die Vorgangsnummer sowie die ErgebnislisteId benötigt.",
        "operationId" : "getErgebnisListe",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Ergebnisliste"
                }
              }
            },
            "description" : "Die Ergebnisliste wurde gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ergebnisse abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{angebotsnummer}/merken" : {
      "post" : {
        "description" : "Das Angebot kann gemerkt und gespeichert werden. Als Parameter werden die vorgangsnummer, die ErgebnislisteId sowie Angebotsnummer benötigt.",
        "operationId" : "merkeAngebot",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "angebotsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9]*",
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "string"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AngebotMerkenAntwort"
                }
              }
            },
            "description" : "Angebot gespeichert"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Request"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Angebot merken",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{ergebnisnummer}" : {
      "get" : {
        "description" : "Das Ergebnis einer Ermittlung abrufen. Als Parameter werden die Vorgangsnummer, die ErgebnislisteId sowie der Ergebnisnummer benötigt.",
        "operationId" : "getErgebnis",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisnummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/V3Ergebnis"
                }
              }
            },
            "description" : "Die Ergebnis wurde gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Ergebnis abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{ergebnisnummer}/berechnungsuebersichten" : {
      "get" : {
        "description" : "Die Berechnungsübersichten abrufen. Als Parameter werden die Vorgangsnummer, die ErgebnislisteId sowie der Ergebnisnummer benötigt.",
        "operationId" : "getBerechnungsuebersichten",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisnummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/BerechnungsUebersichten"
                }
              }
            },
            "description" : "Die berechnungsübersichten wurde gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Berechnungsübersichten abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{ergebnisnummer}/meldungen" : {
      "get" : {
        "description" : "Die Meldungen eines Finanzierungsvorschlags abrufen. Als Parameter werden die Vorgangsnummer, die ErgebnislisteId sowie der Ergebnisnummer benötigt.",
        "operationId" : "getMeldungen",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisnummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Meldungen"
                }
              }
            },
            "description" : "Die Meldungen eines Finanzierungsvorschlags wurden gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Meldungen abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{ergebnisnummer}/provision" : {
      "get" : {
        "description" : "Abruf der Provision des Darlehens. Als Parameter werden die Vorgangsnummer, die ErgebnislisteId sowie die Ergebnisnummer benötigt.",
        "operationId" : "getProvision",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisnummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "in" : "query",
          "name" : "repeat",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProvisionsInfo"
                }
              }
            },
            "description" : "Die Provision des Darlehens wurde gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Provision abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{ergebnisnummer}/unterlagen" : {
      "get" : {
        "description" : "Abrufen der benötigten Unterlagen des Finanzierungsvorschlags. Als Parameter werden die Vorgangsnummer, die ErgebnislisteId sowie die Ergebnisnummer benötigt.",
        "operationId" : "getUnterlagen",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisnummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Unterlagen"
                }
              }
            },
            "description" : "Die Unterlagen des Finanzierungsvorschlags wurden gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Unterlagen abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{ergebnisnummer}/zahlungsplaene" : {
      "get" : {
        "description" : "Die Zahlungspläne eines Finanzierungsvorschlags abrufen. Als Parameter werden die Vorgangsnummer, die ErgebnislisteId sowie der Ergebnisnummer benötigt.",
        "operationId" : "getZahlungsplaene",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisnummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Zahlungsplaene"
                }
              }
            },
            "description" : "Die Zahlungspläne wurden gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Zahlungspläne abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/ergebnisliste/{ergebnislisteId}/{ergebnisnummer}/zahlungsplaene/{zahlungsplanIndex}" : {
      "get" : {
        "description" : "Den Zahlungsplan eines Finanzierungsvorschlags anhand einer Id abrufen. Als Parameter werden die vorgangsnummer, die ErgebnislisteId, die Ergebnisnummer sowie der Index des Zahlungsplans benötigt.",
        "operationId" : "getZahlungsplan",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnislisteId",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "ergebnisnummer",
          "required" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32"
          }
        }, {
          "in" : "path",
          "name" : "zahlungsplanIndex",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Zahlungsplan"
                }
              }
            },
            "description" : "Der Zahlungsplan wurde gefunden."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Zahlungsplan abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/gemerkteangebote" : {
      "get" : {
        "description" : "Gemerkte Angebote abrufen. Als Parameter wird eine Vorgangsnummer benötigt",
        "operationId" : "getGemerkteAngebote",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/V3GemerktesAngebot"
                  }
                }
              }
            },
            "description" : "Die Gemerkte Angebote wurde abrufen."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Gateway Timeout"
          }
        },
        "security" : [ {
          "oAuth2" : [ "baufinanzierung:angebot:ermitteln" ]
        } ],
        "summary" : "Gemerkte Angebote abrufen",
        "tags" : [ "Version 3" ]
      }
    },
    "/v3/vorgaenge/{vorgangsnummer}/gemerkteangebote/{laufendeNummer}" : {
      "get" : {
        "description" : "Abrufen das Gemerkte Angebot. Als Parameter werden die Vorgangsnummer sowie die laufendeNummer benötigt.",
        "operationId" : "getGemerktesAngebot",
        "parameters" : [ {
          "description" : "Authorization Bearer Token",
          "in" : "header",
          "name" : "Authorization",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "header",
          "name" : "X-TraceId",
          "schema" : {
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "vorgangsnummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[A-Z0-9]{6}",
            "type" : "string"
          }
        }, {
          "in" : "path",
          "name" : "laufendeNummer",
          "required" : true,
          "schema" : {
            "pattern" : "^[0-9]*",
            "type" : "integer",
            "format" : "int32"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/V3GemerktesAngebot"
                }
              }
            },
            "description" : "Das Gemerkte Angebot wurde abrufen."
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Unauthorized"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Forbidden"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Not Found"
          },
          "405" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Method Not Allowed"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Too Many Requests"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Internal Server Error"
          },
          "502" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Error"
                }
              }
            },
            "description" : "Bad Gateway"
          },
          "504" : {
            "content" : {
              "application/json" : {
                "schema" : {
[...]
