---
swagger: "2.0"
info:
  description: "Ein Service um eine Ergebnisliste mit Finanzierungsvorschlägen zu\
    \ ermitteln."
  version: "0.1"
  title: "Ergebnislisten API"
  contact:
    name: "Europace AG"
    url: "http://www.europace2.de"
    email: "helpdesk@europace2.de"
host: "baufismart.api.europace.de"
basePath: "/v1test"
tags:
- name: "ergebnis-liste-rest-controller"
  description: "Ergebnis Liste Rest Controller"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json;charset=UTF-8"
paths:
  /finanzierungsvorschlaege:
    post:
      tags:
      - "ergebnis-liste-rest-controller"
      summary: "getFinanzierungsVorschlaege"
      operationId: "getFinanzierungsVorschlaegeUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "alternativen"
        in: "query"
        description: "alternativen"
        required: false
        type: "boolean"
        default: false
      - in: "body"
        name: "erfassteDaten"
        description: "erfassteDaten"
        required: true
        schema:
          $ref: "#/definitions/Vorgang"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ErgebnisListeResource"
        201:
          description: "Created"
        401:
          description: "Unauthorized"
        403:
          description: "Forbidden"
        404:
          description: "Not Found"
      security:
      - oauth2:
        - "API"
  /finanzierungsvorschlaege/{vorgangsNummer}:
    get:
      tags:
      - "ergebnis-liste-rest-controller"
      summary: "getFinanzierungsVorschlaege"
      operationId: "getFinanzierungsVorschlaegeUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - name: "alternativen"
        in: "query"
        description: "alternativen"
        required: false
        type: "boolean"
        default: false
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ErgebnisListeResource"
        400:
          description: "Client Error"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
securityDefinitions:
  oauth2:
    type: "oauth2"
    tokenUrl: "https://api.europace.de/login"
    flow: "password"
    scopes:
      API: "Authorisation Scope für die gesamte API."
definitions:
  AnnuitaetenDarlehensWunsch:
    type: "object"
    properties:
      auszahlungsDatumBeiForward:
        type: "string"
        format: "date"
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      sondertilgungOptionalJaehrlich:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
  Antragsteller:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      arbeitserlaubnis:
        type: "boolean"
        example: false
        description: "wenn keine deutsche Staatsangehörigkeit"
      arbeitserlaubnisBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Arbeitserlaubnis befristet"
      aufenthaltsTitel:
        type: "string"
        description: "wenn keine deutsche Staatsangehörigkeit"
        enum:
        - "VISUM"
        - "AUFENTHALTS_ERLAUBNIS"
        - "NIEDERLASSUNGS_ERLAUBNIS"
        - "DAUERAUFENTHALT_EU"
      aufenthaltsTitelBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Aufenthaltstitel befristet"
      beschaeftigung:
        $ref: "#/definitions/Beschaeftigung"
      bruttoVorjahresEinkommen:
        type: "number"
        description: "Vorjahreseinkommen (brutto)"
      email:
        type: "string"
        example: "max.mustermann@test.de"
        description: "Eine valide Emailadresse"
      externeAntragstellerId:
        type: "string"
      familienstand:
        type: "string"
        enum:
        - "GESCHIEDEN"
        - "GETRENNT_LEBEND"
        - "LEBENSPARTNERSCHAFT"
        - "LEDIG"
        - "VERHEIRATET"
        - "VERWITWET"
      geburtsdatum:
        type: "string"
        format: "date"
      geburtsort:
        type: "string"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa) Relevant für Sparprodukte (Bausparkassen)."
      guetertrennungVereinbartWennVerheiratet:
        type: "boolean"
        example: false
        description: "nur wenn verheiratet"
      id:
        type: "string"
      inDeutschlandSeit:
        type: "string"
        format: "date"
      legitimationsDaten:
        description: "Pauschale für die Beleihungswertberechnung manuell überschreiben.\
          \ Dieses Feld ist eine produktanbieterspezifische Zusatzangabe, sie wird\
          \ nicht von allen Produktanbietern bei der Angebotsermittlung berücksichtigt.\
          \ (ING-DiBa) (Genopace ( Volks- und Raiffeisenbanken))"
        $ref: "#/definitions/LegitimationsDaten"
      nachname:
        type: "string"
      schufaErgebnis:
        $ref: "#/definitions/SchufaErgebnis"
      staatsangehoerigkeit:
        $ref: "#/definitions/Staat"
      telefonnummer:
        type: "string"
      telefonnummerVorwahl:
        type: "string"
      titelDoktor:
        type: "boolean"
      titelProfessor:
        type: "boolean"
      verheiratetMitAntragsteller:
        description: "nur wenn verheiratet"
        $ref: "#/definitions/AntragstellerVerknuepfung"
      vorAnschrift:
        $ref: "#/definitions/Postadresse"
      vorname:
        type: "string"
      weitereKontaktMoeglichkeiten:
        type: "string"
      wohnhaftSeit:
        type: "string"
        format: "date"
  AntragstellerVerknuepfung:
    type: "object"
    properties:
      id:
        type: "string"
      name:
        type: "string"
        description: "Redundantes Datum für bessere Menschenlesbarkeit / einfachere\
          \ Zuordnung"
  AusgabenMonatlich:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
  Autostellplatz:
    type: "object"
    properties:
      mieteinnahmenMonatlich:
        type: "number"
      typ:
        type: "string"
        enum:
        - "STELLPLATZ"
        - "CARPORT"
        - "GARAGE"
        - "DOPPEL_GARAGE"
        - "KELLER_GARAGE"
        - "TIEFGARAGEN_STELLPLATZ"
  BankUndSparguthaben:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zinsertragJaehrlich:
        type: "number"
      zukuenftigeEinnahmen:
        type: "number"
  Bankverbindung:
    type: "object"
    properties:
      bic:
        type: "string"
      iban:
        type: "string"
      id:
        type: "string"
      kontoinhaberIds:
        type: "array"
        items:
          type: "string"
      kontoinhaberName:
        type: "string"
      kreditinstitut:
        type: "string"
  BausparAngebot:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      abschlussGebuehrenVerrechnung:
        type: "string"
      angebotsHinweisFuerAntragsteller:
        type: "string"
        description: "nur bei neuen extern berechneten Bausparverträgen und bei Gegenangeboten"
      antragEntscheider:
        $ref: "#/definitions/ProduktAnbieter"
      bausparDarlehenSumme:
        type: "number"
      bausparSumme:
        type: "number"
      bausparkasse:
        $ref: "#/definitions/ProduktAnbieter"
      effektivZinsNachZuteilungProzent:
        type: "number"
      einmalzahlung:
        type: "number"
      europaceMargeAbsolut:
        type: "number"
      gesamtLaufzeitInJahren:
        type: "integer"
        format: "int32"
      guthabenBeiZuteilung:
        type: "number"
      id:
        type: "string"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      provisionAbsolut:
        type: "number"
      sollZinsNachZuteilung:
        type: "number"
      sonderZahlungEinmalig:
        type: "number"
      sparBeitragMonatlich:
        type: "number"
      sparPhase:
        $ref: "#/definitions/SparPhase"
      sparPhaseInJahren:
        type: "integer"
        format: "int32"
      tarif:
        type: "string"
      teilBausparSumme:
        type: "number"
      tilgungsBeitragMonatlich:
        type: "number"
      tilgungsPhase:
        $ref: "#/definitions/TilgungsPhase"
      tilgungsPhaseInJahren:
        type: "integer"
        format: "int32"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      vertragsPartnerIds:
        type: "array"
        items:
          type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
  BausparWunsch:
    type: "object"
    properties:
      abschlussGebuehrenVerrechnung:
        type: "string"
        enum:
        - "SOFORTZAHLUNG"
        - "VERRECHNUNG"
      bausparSummeAbsolut:
        type: "number"
      bausparSummeRelativ:
        type: "number"
      bausparTarife:
        type: "array"
        items:
          type: "string"
      id:
        type: "string"
      sonderZahlungEinmalig:
        type: "number"
      sparBeitragMonatlichAbsolut:
        type: "number"
      sparBeitragMonatlichRelativ:
        type: "number"
      tilgungsBeitragMonatlich:
        type: "number"
      vertragsPartnerIds:
        type: "array"
        items:
          type: "string"
      verwendung:
        type: "string"
        enum:
        - "ZINS_ABSICHERUNG"
        - "TILGUNGS_AUSGESETZT"
      zuteilungsDatum:
        type: "string"
        format: "date"
  Beleihung:
    type: "object"
    properties:
      auslauf:
        type: "number"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      summe:
        type: "number"
  Bereitstellung:
    type: "object"
    properties:
      bereitstellungsZins:
        type: "number"
      bereitstellungsZinsfreieZeitInMonaten:
        type: "integer"
        format: "int32"
  BereitstellungsZinsFreieZeitPraeferenz:
    type: "object"
    properties:
      darlehenBenoetigtInMonaten:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==IN_MONATEN"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: MIT_DER_ERSTEN_AUSZAHLUNG,IN_MONATEN,NOCH_NICHT_FESTGELEGT,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  Beschaeftigung:
    type: "object"
    properties:
      anzahlGehaelterProJahr:
        type: "number"
        format: "double"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeber:
        type: "string"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeberInDeutschlandAnsaessig:
        type: "boolean"
        example: false
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      arbeitgeberLand:
        $ref: "#/definitions/Staat"
      art:
        type: "string"
        description: "AUch Berufsgruppe genannt. Erlaubte Werte sind: ANGESTELLTER,\
          \ ARBEITER, ARBEITSLOSER, BEAMTER, FREIBERUFLER, HAUSFRAU, RENTNER, SELBSTAENDIGER,PRIVATIER,SOLDAT,SCHUELER,AZUBI,STUDENT,OHNE"
      befristungsStatus:
        type: "string"
        description: "nur bei art==ANGESTELLTER,ARBEITER"
        enum:
        - "BEFRISTET"
        - "UNBEFRISTET"
      beruf:
        type: "string"
        description: "nur bei art!=RENTNER"
      berufsgruppeBeiIngDiba:
        type: "string"
        description: "Berufsgruppe des Antragstellers (ING-DiBa) Dieses Feld ist eine\
          \ produktanbieterspezifische Zusatzangabe, sie wird nicht von allen Produktanbietern\
          \ bei der Angebotsermittlung berücksichtigt. (ING-DiBa). Erlaubte Werte\
          \ sind:  ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTSTAENDIG,RENTNER,HAUSMANN,PRIVATIER,SOLDAT,SCHUELER,AZUBI,STUDENT,OHNE.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      beschaeftigtSeit:
        type: "string"
        format: "date"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER,FREIBERUFLER,SELBSTAENDIGER"
      branche:
        type: "string"
        description: "Allgemeine Branche des Antragstellers. Wird verwendet um fü\
          r die verschiedenen Banken die Zusatzangabe Branche zu bilden. Kann der\
          \ Werte: BANKEN_KREDITINSTITUTE,VERSICHERUNGEN,BAUGEWERBE,DIENSTLEISTUNGEN,EDV_BERATUNG,ENERGIE,ERZIEHUNG_UNTERRICHT,GESUNDHEITSWESEN,HANDEL,HANDWERK,HOTEL_GASTRONOMIE,LANDWIRTSCHAFT,FORSTWIRTSCHAFT,FISCHEREI,OEFFENTLICHER_DIENST,PRODUKTION_INDUSTRIE,VERKEHR,NACHRICHTENUEBERMITTLUNG,WASSERVERSORGUNG,BERGBAU,ORGANISATION_OHNE_ERWERBSZWECK,GEBIETSKOERPERSCHAFTEN,SOZIALVERSICHERUNGEN,SONSTIGES\
          \ sein"
      einkommenNettoJaehrlich:
        type: "number"
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER"
      einkommenNettoMonatlich:
        type: "number"
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      inProbezeit:
        type: "boolean"
        example: false
        description: "nur bei art==ANGESTELLTER,ARBEITER,BEAMTER"
      situationNachRenteneintritt:
        description: "nur bei art!=RENTNER"
        $ref: "#/definitions/SituationNachRenteneintritt"
      sonstigesRegelmaessigesEinkommenNettoMonatlich:
        type: "number"
        description: "nur bei art==ARBEITSLOSER,HAUSFRAU"
      staatlicheRenteNettoMonatlich:
        type: "number"
        description: "nur bei art==RENTNER"
      taetigkeit:
        type: "string"
        description: "nur bei art==FREIBERUFLER,SELBSTAENDIGER. Erlaubte Werte sind:\
          \   ALTENPFLEGER, AMBULANTER_KRANKENPFLEGER, ANWALT, APOTHEKER, ARCHITEKT,\
          \ ARZT, BESTATTER, DATENSCHUTZBEAUFTRAGTER, DEKORATEUR, DIAETASSISTENT,\
          \ DOLMETSCHER, EDV_BERATER, ERGOTHERAPEUT, ERNAEHRUNGSBERATER, FOTOGRAF,\
          \ GEOGRAF, GRAFIKDESIGNER, GRAFIKER, HEBAMME, HEILMASSEUR, HEILPRAKTIKER,\
          \ HISTORIKER, INFORMATIKER, INGENIEUR, INSOLVENZVERWALTER, JOURNALIST, KLASSISCHER_KONZERTMUSIKER,\
          \ KONSTRUKTEUR, KRANKENGYMNAST, KRANKENPFLEGER, KRANKENSCHWESTER, LOGOPAEDE,\
          \ MEDIZINISCH_TECHN_ASSISTENT, NOTAR, OPERNSAENGER, PERSONALBERATER, PHYSIOTHERAPEUT,\
          \ PSYCHOLOGE, RAUMAUSSTATTER, RUNDFUNKSPRECHER, SACHVERSTAENDIGER, STADTPLANER,\
          \ STATIKER, STEUERBERATER, TIERARZT, UNTERNEHMENSBERATER, VERMITTLER, WIRTSCH_BUCHPRUEFER_REVISOR,\
          \ ZAHNARZT, ZAHNTECHNIKER, SONSTIGES."
  BestandteileDerFinanzierungPraeferenz:
    type: "object"
    properties:
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: UNKOMPLIZIERTE_FINANZIERUNG,WEITERE_PRODUKTE,KONKRETE_VORSTELLUNGEN,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  BestehendeImmobilie:
    type: "object"
    properties:
      adresse:
        description: "Anschrift der Immobilie"
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        description: "Angaben zu vorhandenen Autostellplätzen"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehen"
      bewirtschaftungsKostenJaehrlich:
        type: "number"
        description: "Jährliche Bewirtschaftungskosten"
      bodenRichtwert:
        type: "number"
        description: "Angabe des Boden Richtwerts"
      effektivZinsErhoehendeKosten:
        description: "Effektivzinsbeeinflussende Kosten - Anpassungen nach PAngV"
        $ref: "#/definitions/EffektivZinsErhoehendeKosten"
      erbbaurecht:
        description: "Angaben zum Erbbaurecht"
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        description: "Angaben zum Gebäude"
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        description: "Grundbuch Angaben"
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        description: "Angaben zum Grundstück"
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      immobilienEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "VERKAUFEN"
        - "ALS_ZUSATZSICHERHEIT"
      keinBaulandFlaecheInQm:
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
        $ref: "#/definitions/Flaeche"
      keineBestehendenDarlehenVorhanden:
        type: "boolean"
      marktueblicherKaufpreisProQm:
        type: "number"
        description: "Marktüblicher Kaufpreis pro qm (bezieht sich auf die Wohnflä\
          che, wenn's ein Grundstück ist, dann ist es nicht definiert.)"
      maximalEinzusetzenderBetragWennVerkauf:
        type: "number"
      objektArt:
        type: "string"
        description: "Art der Immobilie"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: "number"
        description: "Angabe einer Vergleichsmiete für eine Gewerbefläche pro qm"
      vergleichsmieteFuerWohnflaecheProQm:
        type: "number"
        description: "Angabe einer Vergleichsmiete für die Wohnfläche pro qm"
      verkehrswert:
        type: "number"
        description: "Verkehrswert, nur relevant bei Finanzbedarf AnschlussFinanzierung,\
          \ Modernisierung und Kapitalbeschaffung"
      wohnlage:
        type: "string"
        description: "Wohnlage - Erlaubte Werte sind: GEHOBEN,MITTEL,EINFACH. Neue\
          \ Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit\
          \ unbekannten Werten umgehen können."
        enum:
        - "GEHOBEN"
        - "MITTEL"
        - "EINFACH"
  BestehenderBausparvertrag:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      aktuellerWert:
        type: "number"
      bausparSumme:
        type: "number"
      einmalzahlung:
        type: "number"
      ertrag:
        type: "number"
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      sparBeitragMonatlich:
        type: "number"
      tarif:
        type: "string"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zukuenftigeEinnahmen:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
  BestehendesDarlehen:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
        description: "nur wenn wirdAbgeloest==true"
      darlehensArt:
        type: "string"
        description: "Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,SONSTIGES_DARLEHEN.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      darlehensBetrag:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      darlehensKontonummer:
        type: "string"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      eingetrageneGrundschuld:
        type: "number"
      grundschuldArt:
        type: "string"
        enum:
        - "BRIEF_GRUNDSCHULD"
        - "BUCH_GRUNDSCHULD"
      id:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (DSL Bank)"
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      sondertilgungZumZinsBindungsEnde:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
  BestehendesDarlehenDesFinanzierungsObjekts:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
        description: "nur wenn wirdAbgeloest==true"
      darlehensArt:
        type: "string"
        description: "Erlaubte Werte sind: BAUSPARDARLEHEN,FOERDERDARLEHEN,IMMOBILIENDARLEHEN,SONSTIGES_DARLEHEN.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      darlehensBetrag:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      darlehensKontonummer:
        type: "string"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      eingetrageneGrundschuld:
        type: "number"
      grundschuldArt:
        type: "string"
        enum:
        - "BRIEF_GRUNDSCHULD"
        - "BUCH_GRUNDSCHULD"
      id:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (DSL Bank)"
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      sondertilgungZumZinsBindungsEnde:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck==ANSCHLUSSFINANZIERUNG"
      verwendenAls:
        type: "string"
        description: "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben,\
          \ behandelt werden soll."
        enum:
        - "ABLOESEN"
        - "TRITT_IM_RANG_ZURUECK"
        - "TRITT_NICHT_IM_RANG_ZURUECK"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
  Darlehen:
    type: "object"
    properties:
      auszahlungsBetrag:
        type: "number"
        description: "Der Auszahlungsbetrag ist der Nettodarlehensbetrag"
      bereitstellung:
        $ref: "#/definitions/Bereitstellung"
      darlehensBetrag:
        type: "number"
      darlehensTyp:
        type: "string"
        enum:
        - "ANNUITAETEN_DARLEHEN"
        - "FORWARD_DARLEHEN"
        - "KFW_DARLEHEN"
        - "PRIVAT_DARLEHEN"
        - "ZWISCHEN_FINANZIERUNG"
        - "VARIABLES_DARLEHEN"
        - "BAUSPARVERTRAG"
      effektivZins:
        type: "number"
      id:
        type: "string"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      provision:
        $ref: "#/definitions/Provision"
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      tilgung:
        $ref: "#/definitions/Tilgung"
      zinsBindung:
        $ref: "#/definitions/ZinsBindung"
      zinsZahlungsBeginnAm:
        type: "string"
        format: "date"
  DarlehensWunsch:
    type: "object"
    properties:
      annuitaetenDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/AnnuitaetenDarlehensWunsch"
      forwardDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/ForwardDarlehensWunsch"
      id:
        type: "string"
      kfwDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/KfwDarlehensWunsch"
      privatDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/PrivatDarlehensWunsch"
      variablesDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/VariablesDarlehensWunsch"
      zwischenFinanzierung:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/ZwischenFinanzierungsWunsch"
  EffektivZinsErhoehendeKosten:
    type: "object"
    properties:
      anpassen:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      grundbuchEintragungsKostenEinmalig:
        type: "number"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      sonstigeKostenBezeichnung:
        type: "string"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      sonstigeKostenEinmalig:
        type: "number"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      wohnGebaeudeVersicherungsKostenJaehrlich:
        type: "number"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
  EinkuenfteAusNebentaetigkeit:
    type: "object"
    properties:
      beginnDerNebentaetigkeit:
        type: "string"
        format: "date"
      einnahmenMonatlich:
        type: "number"
  EinnahmenMonatlich:
    type: "object"
    properties:
      einnahmenMonatlich:
        type: "number"
  Erbbaurecht:
    type: "object"
    properties:
      erbbaurecht:
        type: "boolean"
        example: false
        description: "Erbbaurecht vorhanden"
      erbbauzinsJaehrlich:
        type: "number"
        description: "Jährlicher Erbbauzins"
      grundstuecksEigentuemer:
        type: "string"
        description: "Angaben zum Grundstückseigentümer"
        enum:
        - "ANDERE"
        - "OEFFENTLICH_KIRCHLICH"
      laufzeitBisJahr:
        description: "Laufzeit des Erbbaurechts"
        $ref: "#/definitions/Jahreszahl"
  ErgebnisListeResource:
    type: "object"
    properties:
      finanzierungsVorschlaege:
        type: "array"
        items:
          $ref: "#/definitions/FinanzierungsVorschlag"
  Error:
    type: "object"
    properties:
      cause:
        $ref: "#/definitions/Throwable"
      localizedMessage:
        type: "string"
      message:
        type: "string"
      stackTrace:
        type: "array"
        items:
          $ref: "#/definitions/StackTraceElement"
      suppressed:
        type: "array"
        items:
          $ref: "#/definitions/Throwable"
  Finanzbedarf:
    type: "object"
    properties:
      aussenAnlagen:
        type: "number"
      bauNebenkosten:
        type: "number"
      beratungsHonorar:
        type: "number"
      bereitsBeglichen:
        type: "number"
      erschliessung:
        type: "number"
      grunderwerbsteuer:
        type: "number"
        description: "Nebenkosten"
      grundstueckBereitsBezahlt:
        type: "boolean"
      grundstuecksKaufpreis:
        type: "number"
      herstellung:
        type: "number"
        description: "inklusive Eigenleistungen"
      kapitalBeschaffung:
        type: "number"
      kapitalWirdBeschafft:
        type: "boolean"
      kaufpreis:
        type: "number"
        description: "inklusive Eigenleistungen"
      maklergebuehr:
        type: "number"
        description: "Nebenkosten"
      mobiliar:
        type: "number"
      modernisieren:
        type: "boolean"
      modernisierung:
        type: "number"
        description: "inklusive Eigenleistungen"
      notargebuehr:
        type: "number"
        description: "Nebenkosten"
      renovierung:
        type: "number"
      sonstigeKosten:
        type: "number"
      zusaetzlichesKapital:
        type: "number"
  FinanzierungsObjekt:
    type: "object"
    properties:
      adresse:
        description: "Anschrift der Immobilie"
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        description: "Angaben zu vorhandenen Autostellplätzen"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehenDesFinanzierungsObjekts"
      bewirtschaftungsKostenJaehrlich:
        type: "number"
        description: "Jährliche Bewirtschaftungskosten"
      bodenRichtwert:
        type: "number"
        description: "Angabe des Boden Richtwerts"
      effektivZinsErhoehendeKosten:
        description: "Effektivzinsbeeinflussende Kosten - Anpassungen nach PAngV"
        $ref: "#/definitions/EffektivZinsErhoehendeKosten"
      erbbaurecht:
        description: "Angaben zum Erbbaurecht"
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        description: "Angaben zum Gebäude"
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        description: "Grundbuch Angaben"
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        description: "Angaben zum Grundstück"
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      keinBaulandFlaecheInQm:
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
        $ref: "#/definitions/Flaeche"
      marktueblicherKaufpreisProQm:
        type: "number"
        description: "Marktüblicher Kaufpreis pro qm (bezieht sich auf die Wohnflä\
          che, wenn's ein Grundstück ist, dann ist es nicht definiert.)"
      objektArt:
        type: "string"
        description: "Art der Immobilie"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: "number"
        description: "Angabe einer Vergleichsmiete für eine Gewerbefläche pro qm"
      vergleichsmieteFuerWohnflaecheProQm:
        type: "number"
        description: "Angabe einer Vergleichsmiete für die Wohnfläche pro qm"
      verkehrswert:
        type: "number"
        description: "Verkehrswert, nur relevant bei Finanzbedarf AnschlussFinanzierung,\
          \ Modernisierung und Kapitalbeschaffung"
      wohnlage:
        type: "string"
        description: "Wohnlage - Erlaubte Werte sind: GEHOBEN,MITTEL,EINFACH. Neue\
          \ Ausprägungen können kurzfristig hinzukommen. Der Client muss daher mit\
          \ unbekannten Werten umgehen können."
        enum:
        - "GEHOBEN"
        - "MITTEL"
        - "EINFACH"
  FinanzierungsVorschlag:
    type: "object"
    properties:
      annahmeFrist:
        type: "string"
        format: "date-time"
      bausparAngebote:
        type: "array"
        items:
          $ref: "#/definitions/BausparAngebot"
      beleihung:
        type: "array"
        items:
          $ref: "#/definitions/Beleihung"
      darlehen:
        type: "array"
        items:
          $ref: "#/definitions/Darlehen"
      darlehensSumme:
        type: "number"
      effektivZins:
        type: "number"
      erzeugtAm:
        type: "string"
        format: "date-time"
      kennung:
        type: "string"
      machbarkeit:
        type: "string"
        enum:
        - "MACHBAR"
        - "UNTER_VORBEHALT"
        - "NICHT_MACHBAR"
      meldungen:
        type: "array"
        items:
          $ref: "#/definitions/Meldung"
      sollZins:
        type: "number"
  Finanzierungswunsch:
    type: "object"
    properties:
      bausparWuensche:
        type: "array"
        items:
          $ref: "#/definitions/BausparWunsch"
      darlehensWuensche:
        type: "array"
        items:
          $ref: "#/definitions/DarlehensWunsch"
      id:
        type: "string"
  Flaeche:
    type: "object"
    properties:
      flaeche:
        type: "number"
  Flurstueck:
    type: "object"
    properties:
      anteil:
        $ref: "#/definitions/MiteigentumsAnteil"
      flur:
        type: "string"
      flurstuecksNummer:
        type: "string"
      groesse:
        $ref: "#/definitions/Flaeche"
  ForwardDarlehensWunsch:
    type: "object"
    properties:
      auszahlungsDatumBeiForward:
        type: "string"
        format: "date"
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      sondertilgungOptionalJaehrlich:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
  Gebaeude:
    type: "object"
    properties:
      anzahlDerGewerbeeinheiten:
        type: "integer"
        format: "int32"
        description: "Anzahl der Gewerbeeinheiten. Nur bei ObjektArt == HAUS."
      anzahlDerWohneinheitenImGebaeude:
        type: "integer"
        format: "int32"
        description: "Anzahl der Wohneinheiten im Gebäude"
      anzahlVollgeschosse:
        type: "integer"
        format: "int32"
        description: "Anzahl der Geschosse"
      aufbauFinanzierung:
        type: "boolean"
        example: false
      aufzugVorhanden:
        type: "boolean"
        example: false
        description: "Ein Aufzug vorhanden"
      ausstattung:
        type: "string"
        description: "Angaben zur Ausstattung"
        enum:
        - "EINFACH"
        - "MITTEL"
        - "GEHOBEN"
        - "STARK_GEHOBEN"
      baujahr:
        description: "Baujahr des Gebäudes. Bei verwendungszweck != NEUBAU; Vierstellige\
          \ Jahresangabe"
        $ref: "#/definitions/Jahreszahl"
      bauweise:
        type: "string"
        description: "Angaben zur Bauweise"
        enum:
        - "FACHWERK_MIT_STROH_LEHM"
        - "FACHWERK_MIT_ZIEGELN"
        - "GLAS_STAHL"
        - "HOLZ"
        - "MASSIV"
      bezeichnungWohneinheit:
        type: "string"
        description: "Bezeichnung der Wohneinheit. Nur bei ObjektArt == EIGENTUMSWOHNUNG."
      dachgeschossAusbau:
        type: "string"
        description: "Angaben zum Ausbau des Dachgeschosses. Nur bei ObjektArt ==\
          \ HAUS."
        enum:
        - "FLACHDACH"
        - "NICHT_AUSGEBAUT"
        - "TEILWEISE_AUSGEBAUT"
        - "VOLL_AUSGEBAUT"
      einliegerwohnungVorhanden:
        type: "boolean"
        example: false
        description: "Ist eine Einliegerwohnung vorhanden. Nur bei ObjektArt == HAUS."
      geschossLage:
        type: "string"
        description: "Angaben zur Lage. Nur bei ObjektArt == EIGENTUMSWOHNUNG."
        enum:
        - "UNTERGESCHOSS"
        - "ERDGESCHOSS"
        - "ERSTES_OBERGESCHOSS"
        - "ZWEITES_OBERGESCHOSS"
        - "DRITTES_BIS_FUENFTES_OBERGESCHOSS"
        - "AB_SECHSTES_OBERGESCHOSS"
        - "UNBEKANNT"
      gewerbeflaeche:
        description: "Angaben zur Gewerbefläche"
        $ref: "#/definitions/GebaeudeFlaeche"
      hausAnordnung:
        type: "string"
        description: "Angaben zur Anordnung des Hauses."
        enum:
        - "FREISTEHEND"
        - "KOPFHAUS"
        - "MITTELHAUS"
      hausTyp:
        type: "string"
        description: "Angaben zum Typ des Hauses. Nur bei ObjektArt == HAUS."
        enum:
        - "DOPPELHAUSHAELFTE"
        - "EINFAMILIENHAUS"
        - "MEHRFAMILIENHAUS"
        - "REIHENHAUS"
        - "ZWEIFAMILIENHAUS"
      istFertighaus:
        type: "boolean"
        example: false
        description: "Handelt es sich um ein Fertighaus. Nur bei ObjektArt == HAUS."
      kellerausbau:
        type: "string"
        description: "Angaben zum Kellerausbau."
        enum:
        - "AUSGEBAUT"
        - "TEILWEISE_AUSGEBAUT"
        - "VORHANDEN"
      kubatur:
        type: "number"
        description: "Kubatur, Angabe in Kubikmetern."
      miteigentumsAnteil:
        description: "Angaben zum Miteigentumsanteil. Nur bei ObjektArt == EIGENTUMSWOHNUNG."
        $ref: "#/definitions/MiteigentumsAnteil"
      modernisierungsAngaben:
        description: "Angaben zur Modernisierung"
        $ref: "#/definitions/ModernisierungsAngaben"
      unterkellerung:
        type: "string"
        description: "Nur bei ObjektArt == HAUS."
        enum:
        - "NICHT_UNTERKELLERT"
        - "TEILWEISE_UNTERKELLERT"
        - "UNTERKELLERT"
      wohnflaeche:
        description: "Angaben zur Wohnfläche"
        $ref: "#/definitions/GebaeudeFlaeche"
  GebaeudeFlaeche:
    type: "object"
    properties:
      gesamtGroesse:
        $ref: "#/definitions/Flaeche"
      vermietungsInformationen:
        $ref: "#/definitions/VermietungsInformationen"
  GrundbuchAngabe:
    type: "object"
    properties:
      anmerkungen:
        type: "string"
        description: "Feld für Anmerkungen"
      bandUndBlatt:
        type: "string"
        description: "Angabe von Band und Blatt"
      flurstuecke:
        type: "array"
        description: "Angaben zu den Flustücken"
        items:
          $ref: "#/definitions/Flurstueck"
      ort:
        type: "string"
        description: "Ort des als Grundbuchamt zuständigen Amtsgerichtes"
      rechteInAbteilung2:
        description: "Belastungen und Beschränkungen in der Nutzbarkeit des Grundstü\
          cks. Leitungsrechte, Verzichte auf Abstandsflächen, Wegerechte, Insolvenzvermerke."
        $ref: "#/definitions/RechteAbteilung2"
  Grundstueck:
    type: "object"
    properties:
      groesse:
        $ref: "#/definitions/Flaeche"
      grundstuecksArt:
        type: "string"
        enum:
        - "UNBEBAUTES_WOHNGRUNDSTUECK"
        - "UNBEBAUTES_MISCHGRUNDSTUECK"
        - "UNBEBAUTES_GEWERBEGRUNDSTUECK"
        - "LANDWIRTSCHAFTLICHES_GRUNDSTUECK"
        - "SONSTIGES_GRUNDSTUECK"
  Haushalt:
    type: "object"
    properties:
      antragsteller:
        type: "array"
        items:
          $ref: "#/definitions/Antragsteller"
      anzahlErwachseneImHaushalt:
        type: "integer"
        format: "int32"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      anzahlKinderNichtImHaushalt:
        type: "integer"
        format: "int32"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      bestehendeImmobilien:
        type: "array"
        items:
          $ref: "#/definitions/BestehendeImmobilie"
      id:
        type: "string"
      kfzAnzahl:
        type: "integer"
        format: "int32"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt."
      kinder:
        type: "array"
        items:
          $ref: "#/definitions/Kind"
      lebenshaltungsKostenMonatlich:
        type: "number"
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (DSL Bank)"
      positionen:
        $ref: "#/definitions/HaushaltsPositionen"
  HaushaltsPositionen:
    type: "object"
    properties:
      bankUndSparguthaben:
        type: "array"
        items:
          $ref: "#/definitions/BankUndSparguthaben"
      bausparvertraege:
        type: "array"
        items:
          $ref: "#/definitions/BestehenderBausparvertrag"
      ehegattenUnterhalt:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      einkuenfteAusNebentaetigkeit:
        type: "array"
        items:
          $ref: "#/definitions/EinkuenfteAusNebentaetigkeit"
      kindergeld:
        type: "array"
        description: "Read-Only-Feld. Wird dynamisch aus den Angaben zu den Kindern\
          \ berechnet. Pro kindergelderhaltendem Kind ein Listenelement."
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      lebensUndRentenVersicherungen:
        type: "array"
        items:
          $ref: "#/definitions/LebensOderRentenversicherungVermoegen"
      mietAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/MietAusgaben"
      privateDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      privateKrankenversicherung:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      ratenkredite:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      sonstigeEinnahmen:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      sonstigeVerbindlichkeiten:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeVermoegen:
        type: "array"
        items:
          $ref: "#/definitions/Vermoegen"
      sparplaene:
        type: "array"
        items:
          $ref: "#/definitions/Sparplaene"
      unbefristeteZusatzRenten:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      unterhaltsVerpflichtungen:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      variableEinkuenfte:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      versicherungsAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      wertpapiere:
        type: "array"
        items:
          $ref: "#/definitions/Wertpapiere"
  HoeheDerRatePraeferenz:
    type: "object"
    properties:
      betrag:
        type: "number"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: MEINE_MIETAUSGABEN_VON_HEUTE,BETRAG,MOEGLICHST_KLEIN,VERFUEGBARES_EINKOMMEN_AUSSCHOEPFEN,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  Jahreszahl:
    type: "object"
    description: "Die Jahreszahl wird als vierstellig repräsentiert."
  KfwDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      kfwEnergieEffizienzStandard:
        type: "string"
        description: "Nur bei Programm 153. Erlaubt sind STANDARD_40_PLUS, STANDARD_40,\
          \ STANDARD_55, STANDARD_70 . Wenn die KfW-Bank neue Standards anerkennt,\
          \ sind die entsprechenden neuen Ausprägungen zulässig. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      kfwProgramm:
        type: "string"
        description: "Erlaubt sind: PROGRAMM_124,PROGRAMM_141,PROGRAMM_151,PROGRAMM_152,PROGRAMM_153,PROGRAMM_155,PROGRAMM_159,PROGRAMM_167\
          \ .Bei neu aufgelegten KfW-Programmen können auch weitere Werte zulässig\
          \ werden. Der Client muss daher mit unbekannten Werten umgehen können."
      laufzeitInJahren:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
      tilgungsfreieAnlaufjahre:
        type: "integer"
        format: "int32"
        description: "Erlaubt ist 1,2,3,4,5 . Maximalwert abhängig von der Laufzeit"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
        description: "Programm 124: 5 oder 10, sonst: 10 oder 20"
  Kind:
    type: "object"
    properties:
      geburtsdatum:
        type: "string"
        format: "date"
      id:
        type: "string"
      kindergeldWirdBezogen:
        type: "boolean"
      name:
        type: "string"
      unterhaltsEinnahmenBetragMonatlich:
        type: "number"
  LaufzeitPraeferenz:
    type: "object"
    properties:
      bisZumJahr:
        description: "Nur relevant, wenn praeferenzAuswahl==BIS_ZUM_JAHR. Vierstellige\
          \ Jahresangabe"
        $ref: "#/definitions/Jahreszahl"
      bisZurRenteImJahr:
        description: "Nur relevant, wenn praeferenzAuswahl==BIS_ZUR_RENTE_IM_JAHR.\
          \ Vierstellige Jahresangabe"
        $ref: "#/definitions/Jahreszahl"
      inJahren:
        type: "integer"
        format: "int32"
        description: "Nur relevant, wenn praeferenzAuswahl==IN_JAHREN."
      praeferenzAuswahl:
        type: "string"
        description: "MOEGLICHST_SCHNELL,IN_JAHREN,BIS_ZUM_JAHR,BIS_ZUR_RENTE_IM_JAHR,EGAL"
      zusatzlicheKommentare:
        type: "string"
  LeadTracking:
    type: "object"
    properties:
      kampagne:
        type: "string"
      keyword:
        type: "string"
      kundenBetreuerBenachrichtigen:
        type: "boolean"
      trackingId:
        type: "string"
  LebensOderRentenversicherungVermoegen:
    type: "object"
    properties:
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      praemieMonatlich:
        type: "number"
      rueckkaufsWertAktuell:
        type: "number"
      tarif:
        type: "string"
      typ:
        type: "string"
        enum:
        - "KAPITALBILDENDE_LEBENSVERSICHERUNG"
        - "FONDSGEBUNDENE_LEBENSVERSICHERUNG"
        - "KAPITALBILDENDE_RENTENVERSICHERUNG"
        - "FONDSGEBUNDENE_RENTENVERSICHERUNG"
        - "RISIKO_LEBENSVERSICHERUNG"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      versicherungsGesellschaft:
        type: "string"
      versicherungsSumme:
        type: "number"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsEnde:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
  LegitimationsDaten:
    type: "object"
    properties:
      ausstellendeBehoerde:
        type: "string"
      ausstellungsdatum:
        type: "string"
        format: "date"
      ausweisArt:
        type: "string"
        enum:
        - "PERSONALAUSWEIS"
        - "REISEPASS"
        - "ANDERE"
      ausweisArtBeiAndererAusweis:
        type: "string"
        description: "Nur wenn ausweisArt = ANDERE"
      ausweisNummer:
        type: "string"
  Meldung:
    type: "object"
    properties:
      bereichsZuordnung:
        type: "string"
        enum:
        - "ANTRAGSTELLER"
        - "OBJEKT"
        - "VORHABEN"
        - "ALTERNATIV"
        - "ANPASSUNG"
        - "UNBERUECKSICHTIGTE_ANGABE"
      code:
        type: "string"
      meldungsKategorie:
        type: "string"
        enum:
        - "AUSZAHLUNGS_VORAUSSETZUNG"
        - "MACHBAR"
        - "MACHBARKEITS_HINWEIS"
        - "ANPASSUNG_KUNDENWUNSCH"
        - "ANPASSUNG_VERTRIEBSWUNSCH"
        - "UNBERUECKSICHTIGTE_ANGABE"
        - "KONDITIONEN_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN"
        - "KONDITIONEN_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN"
        - "MACHBARKEIT_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN"
        - "MACHBARKEIT_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN"
        - "MACHBAR_UNTER_VORBEHALT_PRODUZENT"
        - "NICHT_MACHBAR"
        - "NICHT_ANBIETBAR"
      produktAnbieterId:
        type: "string"
      text:
        type: "string"
  MietAusgaben:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
      entfallenMitFinanzierung:
        type: "boolean"
  MiteigentumsAnteil:
    type: "object"
    properties:
      anteil:
        type: "number"
        format: "double"
      gesamt:
        type: "integer"
        format: "int32"
  ModernisierungsAngaben:
    type: "object"
    properties:
      badWc:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      bodenWandTreppe:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      dach:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      fenster:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      heizungZentral:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      modernisierungsGrad:
        type: "string"
        description: "erlaubt sind GERING,MITTEL,HOCH. Neue Ausprägungen können kurzfristig\
          \ hinzukommen. Der Client muss daher mit unbekannten Werten umgehen können."
      modernisierungsJahr:
        description: "Jahr der Modernisierung der Immobilie. Vierstellige Jahresangabe"
        $ref: "#/definitions/Jahreszahl"
      raumaufteilung:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      stromAbwasserHeizkoerper:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      waermedaemmung:
        type: "boolean"
        example: false
        description: "Dieses Feld ist eine produktanbieterspezifische Zusatzangabe,\
          \ sie wird nicht von allen Produktanbietern bei der Angebotsermittlung berü\
          cksichtigt. (ING-DiBa)"
      wurdeModernisiert:
        type: "boolean"
  NachrangigesExternesDarlehen:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      darlehensGeber:
        type: "string"
        description: "Der Name des externen Darlehensgebers (Firmierung). Es gibt\
          \ keine entsprechende Beziehung zu einem Partner auf der Europace-Plattform."
      id:
        type: "string"
      rateMonatlich:
        type: "number"
      typ:
        type: "string"
        description: "Erlaubte Werte sind: ARBEITGEBERDARLEHEN,BAUSPARDARLEHEN,OEFFENTLICHES_DARLEHEN,RATENKREDIT.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zinsBindung:
        $ref: "#/definitions/ZinsBindung"
  Partner:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      email:
        type: "string"
      externePartnerId:
        type: "string"
      externerKreditSachbearbeiterId:
        type: "string"
      fax:
        type: "string"
      firmenNameZusatz:
        type: "string"
      firmierung:
        type: "string"
      geburtsdatum:
        type: "string"
        format: "date"
      id:
        type: "string"
      kreditsachbearbeiter:
        type: "boolean"
      mobilTelefon:
        type: "string"
      nachname:
        type: "string"
      telefonnummer:
        type: "string"
      vertriebsOrganisation:
        $ref: "#/definitions/VertriebsOrganisation"
      vorname:
        type: "string"
      webseite:
        type: "string"
  Postadresse:
    type: "object"
    properties:
      hausnummer:
        type: "string"
      ort:
        type: "string"
      postleitzahl:
        type: "string"
      strasse:
        type: "string"
  Praeferenzen:
    type: "object"
    properties:
      bereitstellungsZinsFreieZeit:
        $ref: "#/definitions/BereitstellungsZinsFreieZeitPraeferenz"
      bestandteileDerFinanzierung:
        $ref: "#/definitions/BestandteileDerFinanzierungPraeferenz"
      hoeheDerRate:
        $ref: "#/definitions/HoeheDerRatePraeferenz"
      laufzeit:
        $ref: "#/definitions/LaufzeitPraeferenz"
      sondertilgung:
        $ref: "#/definitions/SondertilgungPraeferenz"
      tilgungsSatzWechsel:
        $ref: "#/definitions/TilgungsSatzWechselPraeferenz"
      weiterePraeferenz:
        type: "string"
      zeitlicherRahmen:
        $ref: "#/definitions/ZeitlicherRahmenPraeferenz"
      zinsBindung:
        $ref: "#/definitions/ZinsBindungPraeferenz"
  PrivatDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      laufzeitInMonaten:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
  ProduktAnbieter:
    type: "object"
    properties:
      name:
        type: "string"
      partnerId:
        type: "string"
      produktAnbieterId:
        type: "string"
  Provision:
    type: "object"
    properties:
      provisionAbsolut:
        type: "number"
      provisionRelativ:
        type: "number"
  RechteAbteilung2:
    type: "object"
    properties:
      beschreibung:
        type: "string"
      betrag:
        type: "number"
      vorhanden:
        type: "boolean"
  SchufaErgebnis:
    type: "object"
    properties:
      antragstellerUnbekannt:
        type: "boolean"
        example: false
        description: "Der Antragsteller ist bei der Schufa unbekannt."
      inManuellerNachbehandlung:
        type: "boolean"
        example: false
        description: "Die Ermittlung des Schufa-Scores verzögert sich, wenn sich die\
          \ Anfrage bei der Schufa in manueller Nachbehandlung befindet."
      score:
        type: "string"
  SituationNachRenteneintritt:
    type: "object"
    properties:
      gesetzlicheRenteMonatlich:
        type: "number"
      privateRenteMonatlich:
        type: "number"
      rentenBeginn:
        type: "string"
        format: "date"
      sonstigesEinkommenMonatlich:
        type: "number"
  SondertilgungPraeferenz:
    type: "object"
    properties:
      betragEinmalig:
        type: "number"
        description: "wenn praeferenzAuswahl==EINMALIG"
      betragJaehrlich:
        type: "number"
        description: "wenn praeferenzAuswahl==JAEHRLICH"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: JAEHRLICH,EINMALIG,DERZEIT_NICHT_GEPLANT,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  SparPhase:
    type: "object"
    properties:
      guthabenBeiZuteilung:
        type: "number"
      sparBeitragMonatlich:
        type: "number"
      sparPhaseInJahren:
        type: "integer"
        format: "int32"
  Sparplaene:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      beitragMonatlich:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zukuenftigeEinnahmen:
        type: "number"
  Staat:
    type: "object"
    properties:
      isoCountryCode:
        type: "string"
      name:
        type: "string"
  StackTraceElement:
    type: "object"
    properties:
      className:
        type: "string"
      fileName:
        type: "string"
      lineNumber:
        type: "integer"
        format: "int32"
      methodName:
        type: "string"
      nativeMethod:
        type: "boolean"
  Throwable:
    type: "object"
    properties:
      cause:
        $ref: "#/definitions/Throwable"
      localizedMessage:
        type: "string"
      message:
        type: "string"
      stackTrace:
        type: "array"
        items:
          $ref: "#/definitions/StackTraceElement"
      suppressed:
        type: "array"
        items:
          $ref: "#/definitions/Throwable"
  Tilgung:
    type: "object"
    properties:
      anfaenglicheTilgung:
        type: "number"
      sonderTilgungJaehrlich:
        type: "number"
      tilgungsBeginn:
        type: "string"
        format: "date"
  TilgungsPhase:
    type: "object"
    properties:
      bausparDarlehenSumme:
        type: "number"
      sollZinsNachZuteilung:
        type: "number"
      tilgungsBeitragMonatlich:
        type: "number"
      tilgungsPhaseInJahren:
        type: "integer"
        format: "int32"
  TilgungsSatzWechselPraeferenz:
    type: "object"
    properties:
      mindestensBenoetigt:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==MINDESTENS_BENOETIGT"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: MINDESTENS_BENOETIGT,NICHT_EINGEPLANT_ODER_ABSEHBAR,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  TilgungsWunsch:
    type: "object"
    properties:
      anfaenglicheTilgung:
        type: "number"
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      ausgesetztBerechnet:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      ausgesetztEigenesAngebot:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      bausparWunsch:
        $ref: "#/definitions/BausparWunsch"
      rate:
        type: "number"
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
      tilgungsBeginn:
        type: "string"
        format: "date"
      tilgungsErsatzProduktId:
        type: "string"
      volltilgerWennAnnuitaetenOderForward:
        type: "boolean"
        example: false
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
  VariablesDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
  Verbindlichkeit:
    type: "object"
    properties:
      glaeubiger:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
      rateMonatlich:
        type: "number"
      restschuld:
        type: "number"
      wirdAbgeloest:
        type: "boolean"
  VermietungsInformationen:
    type: "object"
    properties:
      mieteinnahmenNettoKaltMonatlich:
        type: "number"
      nutzungsArt:
        type: "string"
        enum:
        - "EIGENGENUTZT"
        - "TEIL_VERMIETET"
        - "VERMIETET"
      vermieteteFlaeche:
        $ref: "#/definitions/Flaeche"
  Vermoegen:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zukuenftigeEinnahmen:
        type: "number"
  VertriebsOrganisation:
    type: "object"
    properties:
      firmenName:
        type: "string"
      id:
        type: "string"
      organisationsName:
        type: "string"
      organisationsNameFuerProvisionsClearing:
        type: "string"
      partner:
        type: "string"
      vertriebsOrganisationsId:
        type: "string"
  Vorgang:
    type: "object"
    properties:
      bankverbindung:
        $ref: "#/definitions/Bankverbindung"
      datenKontext:
        type: "string"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      erstelltAm:
        type: "string"
        format: "date"
      externeVorgangsNummer:
        type: "string"
      finanzierungsObjekt:
        $ref: "#/definitions/FinanzierungsObjekt"
      haushalte:
        type: "array"
        items:
          $ref: "#/definitions/Haushalt"
      kundenBetreuer:
        $ref: "#/definitions/Partner"
      leadTracking:
        $ref: "#/definitions/LeadTracking"
      tippGeber:
        $ref: "#/definitions/Partner"
      vorgangsBearbeiter:
        $ref: "#/definitions/Partner"
      vorgangsNummer:
        type: "string"
      vorhaben:
        $ref: "#/definitions/Vorhaben"
  Vorhaben:
    type: "object"
    properties:
      eigenleistungWennNeubauOderModernisierungsmassnahmen:
        type: "number"
      externeBausparAngebote:
        type: "array"
        items:
          $ref: "#/definitions/BausparAngebot"
      finanzbedarf:
        $ref: "#/definitions/Finanzbedarf"
      finanzierungswunsch:
        $ref: "#/definitions/Finanzierungswunsch"
      id:
        type: "string"
      nachrangigeExterneDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/NachrangigesExternesDarlehen"
      praeferenzen:
        $ref: "#/definitions/Praeferenzen"
      verwendungszweck:
        type: "string"
        enum:
        - "ANSCHLUSSFINANZIERUNG"
        - "KAUF"
        - "KAUF_NEUBAU_VOM_BAUTRAEGER"
        - "MODERNISIERUNG_UMBAU_ANBAU"
        - "NEUBAU"
        - "KAPITALBESCHAFFUNG"
  Wertpapiere:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      dividendenJaehrlich:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zukuenftigeEinnahmen:
        type: "number"
  ZeitlicherRahmenPraeferenz:
    type: "object"
    properties:
      finanzierungszusageBis:
        type: "string"
        format: "date"
        description: "wenn praeferenzAuswahl==ZUSAGE_BIS"
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: NUR_INFORMATION_UEBER_FINANZIERUNGSRAHMEN,ZUSAGE_BIS,SO_SCHNELL_WIE_MOEGLICH,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zusatzlicheKommentare:
        type: "string"
  ZinsBindung:
    type: "object"
    properties:
      endetAm:
        type: "string"
        format: "date"
      jahre:
        type: "integer"
        format: "int32"
      monate:
        type: "integer"
        format: "int32"
      restschuldNachZinsBindungsEnde:
        type: "number"
  ZinsBindungPraeferenz:
    type: "object"
    properties:
      praeferenzAuswahl:
        type: "string"
        description: "Erlaubt sind: ZINSBINDUNG_VON_JAHREN,ZWISCHEN_BIS_JAHREN,FLEXIBEL_KURZFRISTIG_HANDLUNGSFAEHIG,LANGE_ZINSSICHERHEIT,EGAL.\
          \ Neue Ausprägungen können kurzfristig hinzukommen. Der Client muss daher\
          \ mit unbekannten Werten umgehen können."
      zinsBindungBisJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==ZWISCHEN_BIS_JAHREN"
      zinsBindungVonJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==ZINSBINDUNG_VON_JAHREN"
      zinsBindungZwischenJahren:
        type: "integer"
        format: "int32"
        description: "wenn praeferenzAuswahl==ZWISCHEN_BIS_JAHREN"
      zusatzlicheKommentare:
        type: "string"
  ZwischenFinanzierungsWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      detailsZurVerwendung:
        type: "string"
      maximaleLaufzeitInMonaten:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
      verwendungszweck:
        type: "string"
        enum:
        - "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
        - "VERKAUF_EINES_ANDEREN_OBJEKTS"
        - "SONSTIGE_VERWENDUNG"
