---
swagger: "2.0"
info:
  description: "Ein Service um eine Ergebnisliste mit Finanzierungsvorschlägen zu\
    \ ermitteln"
  version: "1.5"
  title: "Ergebnislisten API"
  contact:
    name: "Europace AG"
    url: "http://www.europace2.de"
    email: "helpdesk@europace2.de"
host: "baufismart.api.europace.de"
basePath: "/"
tags:
- name: "ergebnis-liste-v-2-rest-controller"
  description: "Ergebnis Liste V 2 Rest Controller"
- name: "details-rest-controller"
  description: "Details Rest Controller"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json;charset=UTF-8"
paths:
  /v2/finanzierungsvorschlaege:
    post:
      tags:
      - "ergebnis-liste-v-2-rest-controller"
      summary: "getFinanzierungsVorschlaege"
      operationId: "getFinanzierungsVorschlaegeUsingPOST"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "alternativen"
        in: "query"
        description: "alternativen"
        required: false
        type: "boolean"
        default: false
      - name: "produktAnbieter"
        in: "query"
        description: "produktAnbieter"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - in: "body"
        name: "erfassteDaten"
        description: "erfassteDaten"
        required: true
        schema:
          $ref: "#/definitions/ErfassteDaten"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ErgebnisListeResource"
        400:
          description: "Bad Request"
          schema:
            $ref: "#/definitions/Error"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/finanzierungsvorschlaege/vorgang/{vorgangsNummer}:
    get:
      tags:
      - "ergebnis-liste-v-2-rest-controller"
      summary: "getFinanzierungsVorschlaegeAnhandVorgangs"
      operationId: "getFinanzierungsVorschlaegeAnhandVorgangsUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "vorgangsNummer"
        in: "path"
        description: "vorgangsNummer"
        required: true
        type: "string"
      - name: "produktAnbieter"
        in: "query"
        description: "produktAnbieter"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
      - name: "alternativen"
        in: "query"
        description: "alternativen"
        required: false
        type: "boolean"
        default: false
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/ErgebnisListeResource"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/finanzierungsvorschlaege/{anfrageId}/{index}:
    get:
      tags:
      - "ergebnis-liste-v-2-rest-controller"
      summary: "getFinanzierungsVorschlaege"
      operationId: "getFinanzierungsVorschlaegeUsingGET"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "anfrageId"
        in: "path"
        description: "anfrageId"
        required: true
        type: "string"
      - name: "index"
        in: "path"
        description: "index"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/FinanzierungsVorschlagResource"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/finanzierungsvorschlaege/{anfrageId}/{index}/meldungen:
    get:
      tags:
      - "details-rest-controller"
      summary: "Abrufen der Meldungen eines Finanzierungsvorschlags"
      description: "Als Parameter wird die ErmittlungsAnfrageId und der Index benö\
        tigt."
      operationId: "getMeldungen"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "anfrageId"
        in: "path"
        description: "anfrageId"
        required: true
        type: "string"
      - name: "index"
        in: "path"
        description: "index"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/MeldungenResource"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/finanzierungsvorschlaege/{anfrageId}/{index}/tilgungsplaene:
    get:
      tags:
      - "details-rest-controller"
      summary: "Den Finanzierung eines Finanzierungsvorschlags abrufen"
      description: "Als Parameter wird die ErmittlungsAnfrageId und der Index benö\
        tigt."
      operationId: "getTilgungsplan"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "anfrageId"
        in: "path"
        description: "anfrageId"
        required: true
        type: "string"
      - name: "index"
        in: "path"
        description: "index"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/TilgungsplaeneResource"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
  /v2/finanzierungsvorschlaege/{anfrageId}/{index}/unterlagen:
    get:
      tags:
      - "details-rest-controller"
      summary: "Abrufen der benötigten Unterlagen des Finanzierungsvorschlags"
      description: "Als Parameter wird die ErmittlungsAnfrageId und der Index benö\
        tigt."
      operationId: "getFaelligeUnterlagen"
      consumes:
      - "application/json"
      produces:
      - "application/json;charset=UTF-8"
      parameters:
      - name: "anfrageId"
        in: "path"
        description: "anfrageId"
        required: true
        type: "string"
      - name: "index"
        in: "path"
        description: "index"
        required: true
        type: "integer"
        format: "int32"
      responses:
        200:
          description: "OK"
          schema:
            $ref: "#/definitions/UnterlagenResource"
        401:
          description: "Unauthorized"
          schema:
            $ref: "#/definitions/Error"
        403:
          description: "Forbidden"
          schema:
            $ref: "#/definitions/Error"
        404:
          description: "Not Found"
          schema:
            $ref: "#/definitions/Error"
        405:
          description: "Method Not Allowed"
          schema:
            $ref: "#/definitions/Error"
        500:
          description: "Internal Server Error"
          schema:
            $ref: "#/definitions/Error"
        502:
          description: "Bad Gateway"
          schema:
            $ref: "#/definitions/Error"
        504:
          description: "Gateway Timeout"
          schema:
            $ref: "#/definitions/Error"
      security:
      - oauth2:
        - "API"
securityDefinitions:
  oauth2:
    type: "oauth2"
    tokenUrl: "https://api.europace.de/login"
    flow: "password"
    scopes:
      API: "Authorisation Scope für die gesamte API."
definitions:
  AnnuitaetenDarlehensWunsch:
    type: "object"
    required:
    - "tilgungsWunsch"
    properties:
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      sondertilgungOptionalJaehrlich:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
  Antragsteller:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      arbeitserlaubnis:
        type: "boolean"
        example: false
        description: "wenn keine deutsche Staatsangehörigkeit"
      arbeitserlaubnisBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Arbeitserlaubnis befristet"
      aufenthaltsTitel:
        type: "string"
        description: "wenn keine deutsche Staatsangehörigkeit"
        enum:
        - "VISUM"
        - "AUFENTHALTS_ERLAUBNIS"
        - "NIEDERLASSUNGS_ERLAUBNIS"
        - "DAUERAUFENTHALT_EU"
      aufenthaltsTitelBefristetBis:
        type: "string"
        format: "date"
        description: "wenn Aufenthaltstitel befristet"
      beschaeftigung:
        $ref: "#/definitions/Beschaeftigung"
      bruttoVorjahresEinkommen:
        type: "number"
      email:
        type: "string"
        example: "max.mustermann@test.de"
      familienstand:
        type: "string"
        enum:
        - "GESCHIEDEN"
        - "GETRENNT_LEBEND"
        - "LEBENSPARTNERSCHAFT"
        - "LEDIG"
        - "VERHEIRATET"
        - "VERWITWET"
      geburtsdatum:
        type: "string"
        format: "date"
      geburtsort:
        type: "string"
      guetertrennungVereinbartWennVerheiratet:
        type: "boolean"
        example: false
        description: "nur wenn verheiratet"
      id:
        type: "string"
        description: "Zur Referenzierung an anderer Stelle notwendig. Wenn nicht angegeben,\
          \ dann wird dieses Feld automatisch befüllt."
      inDeutschlandSeit:
        type: "string"
        format: "date"
      legitimationsDaten:
        $ref: "#/definitions/LegitimationsDaten"
      nachname:
        type: "string"
      staatsangehoerigkeit:
        $ref: "#/definitions/Staat"
      steuerId:
        type: "string"
      telefonnummer:
        type: "string"
      telefonnummerVorwahl:
        type: "string"
      titelDoktor:
        type: "boolean"
      titelProfessor:
        type: "boolean"
      vorAnschrift:
        $ref: "#/definitions/Postadresse"
      vorname:
        type: "string"
      weitereKontaktMoeglichkeiten:
        type: "string"
      wohnhaftSeit:
        type: "string"
        format: "date"
  AusgabenMonatlich:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
  Autostellplatz:
    type: "object"
    properties:
      mieteinnahmenMonatlich:
        type: "number"
      typ:
        type: "string"
        enum:
        - "STELLPLATZ"
        - "CARPORT"
        - "GARAGE"
        - "DOPPEL_GARAGE"
        - "KELLER_GARAGE"
        - "TIEFGARAGEN_STELLPLATZ"
  BankUndSparguthaben:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zinsertragJaehrlich:
        type: "number"
      zukuenftigeEinnahmen:
        type: "number"
  Bankverbindung:
    type: "object"
    properties:
      bic:
        type: "string"
      iban:
        type: "string"
      id:
        type: "string"
      kontoinhaberIds:
        type: "array"
        items:
          type: "string"
      kontoinhaberName:
        type: "string"
      kreditinstitut:
        type: "string"
  BausparAngebot:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      abschlussGebuehrenVerrechnung:
        type: "string"
      angebotsHinweisFuerAntragsteller:
        type: "string"
      antragEntscheider:
        $ref: "#/definitions/ProduktAnbieter"
      bausparDarlehenSumme:
        type: "number"
      bausparSumme:
        type: "number"
      bausparkasse:
        $ref: "#/definitions/ProduktAnbieter"
      effektivZinsNachZuteilungProzent:
        type: "number"
      einmalzahlung:
        type: "number"
      europaceMargeAbsolut:
        type: "number"
      gesamtLaufzeitInJahren:
        type: "integer"
        format: "int32"
      guthabenBeiZuteilung:
        type: "number"
      id:
        type: "string"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      provisionAbsolut:
        type: "number"
      sollZinsNachZuteilung:
        type: "number"
      sonderZahlungEinmalig:
        type: "number"
      sparBeitragMonatlich:
        type: "number"
      sparPhase:
        $ref: "#/definitions/SparPhase"
      sparPhaseInJahren:
        type: "integer"
        format: "int32"
      tarif:
        type: "string"
      teilBausparSumme:
        type: "number"
      tilgungsBeitragMonatlich:
        type: "number"
      tilgungsPhase:
        $ref: "#/definitions/TilgungsPhase"
      tilgungsPhaseInJahren:
        type: "integer"
        format: "int32"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      vertragsPartnerIds:
        type: "array"
        items:
          type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
  BausparWunsch:
    type: "object"
    properties:
      abschlussGebuehrenVerrechnung:
        type: "string"
        enum:
        - "SOFORTZAHLUNG"
        - "VERRECHNUNG"
      bausparSummeAbsolut:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      bausparSummeRelativ:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      bausparTarife:
        type: "array"
        description: "siehe weitere Beschreibung unter Weitere Informationen -> Bezeichnung\
          \ Bauspartarife"
        items:
          type: "string"
          enum:
          - "FUCHS_IMMO_1"
          - "FUCHS_IMMO_2"
          - "FUCHS_IMMO_3"
          - "FUCHS_IMMO_4"
          - "FUCHS_IMMO_5"
          - "FUCHS_IMMO_6"
          - "FUCHS_IMMO_7"
          - "LBS_HT_CLASSIC_S_2015"
          - "LBS_HT_CLASSIC_F_2015"
          - "LBS_HT_CLASSIC_L_2015"
          - "LBS_HT_CLASSIC_N_2015"
          - "LBS_NORD_N_FINANZIERER_F3"
          - "LBS_NORD_N_FINANZIERER_F4"
          - "LBS_NORD_N_FINANZIERER_F5"
          - "LBS_NORD_N_FINANZIERER_F6"
          - "LBS_NORD_N_FINANZIERER_F7"
          - "LBS_NORD_N_MODERNISIERER_M8"
          - "LBS_NORD_N_MODERNISIERER_MX"
          - "LBS_NORD_N_MODERNISIERER_MINIZINS"
          - "LBS_NORD_N_STARTER_S4"
          - "LBS_NORD_N_STARTER_Q5"
          - "LBS_NORD_N_STARTER_S6"
          - "LBS_OST_CLASSIC15_F5"
          - "LBS_OST_CLASSIC_F_H4"
          - "LBS_OST_CLASSIC_F_H5"
          - "LBS_OST_CLASSIC_12_C4"
          - "LBS_OST_CLASSIC_12_C9"
          - "LBS_OST_CLASSIC15_F3"
          - "LBS_OST_CLASSIC15_F4"
          - "LBS_OST_CLASSIC15_F6"
          - "LBS_OST_CLASSIC15_F8"
          - "LBS_OST_VARIO_FLEX"
          - "LBS_SHH_PRIMUS_SC"
          - "LBS_SHH_PRIMUS_SH"
          - "LBS_SHH_PRIMUS_SI"
          - "LBS_SHH_PRIMUS_SJ"
          - "LBS_SHH_TREND_SD"
          - "LBS_SHH_PRIMUS_SD"
          - "LBS_WEST_ZUHAUSE_DIREKT_10"
          - "LBS_WEST_ZUHAUSE_DIREKT_15"
          - "LBS_WEST_ZUHAUSE_PLUS"
          - "LBS_WEST_ZUHAUSE_FLEX_4_L"
          - "LBS_WEST_ZUHAUSE_FLEX_5_L"
          - "LBS_WEST_ZUHAUSE_FLEX_6_L"
          - "LBS_WEST_ZUHAUSE_FLEX_8_L"
          - "SIGNAL_IDUNA_FREIRAUM_F_30"
          - "SIGNAL_IDUNA_FREIRAUM_F_30_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_35"
          - "SIGNAL_IDUNA_FREIRAUM_F_35_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_40"
          - "SIGNAL_IDUNA_FREIRAUM_F_40_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_45"
          - "SIGNAL_IDUNA_FREIRAUM_F_45_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_50"
          - "SIGNAL_IDUNA_FREIRAUM_F_60"
          - "SIGNAL_IDUNA_FREIRAUM_F_30_MZ"
          - "SIGNAL_IDUNA_FREIRAUM_F_30_MZ_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_35_MZ"
          - "SIGNAL_IDUNA_FREIRAUM_F_35_MZ_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_40_MZ"
          - "SIGNAL_IDUNA_FREIRAUM_F_40_MZ_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_45_MZ"
          - "SIGNAL_IDUNA_FREIRAUM_F_45_MZ_16"
          - "SIGNAL_IDUNA_FREIRAUM_F_50_MZ"
          - "SIGNAL_IDUNA_FREIRAUM_F_60_MZ"
          - "BHW_TARIF_FI1"
          - "BHW_TARIF_FI1N"
          - "BHW_TARIF_FI2"
          - "BHW_TARIF_FI2N"
          - "BHW_TARIF_FI3"
          - "BHW_TARIF_FI4"
          - "BHW_TARIF_FX1"
          - "BHW_TARIF_FX1N"
          - "BHW_TARIF_FX2"
          - "BHW_TARIF_FX2N"
          - "BHW_TARIF_REN"
          - "DT_RING_TARIF_FT"
          - "DT_RING_TARIF_FT_0"
          - "DT_RING_TARIF_FT_1"
          - "DT_RING_TARIF_FT_2"
          - "DT_RING_TARIF_XT_0"
          - "DT_RING_TARIF_XT_1"
          - "ALTE_LEIPZIGER_1502"
          - "ALTE_LEIPZIGER_1602"
          - "ALTE_LEIPZIGER_1702"
          - "ALTE_LEIPZIGER_1802"
          - "ALTE_LEIPZIGER_1902"
          - "ALTE_LEIPZIGER_2002"
          - "ALTE_LEIPZIGER_1502_MZ"
          - "ALTE_LEIPZIGER_1602_MZ"
          - "ALTE_LEIPZIGER_1702_MZ"
          - "ALTE_LEIPZIGER_1802_MZ"
          - "ALTE_LEIPZIGER_1902_MZ"
          - "ALTE_LEIPZIGER_2002_MZ"
          - "ALTE_LEIPZIGER_1503"
          - "ALTE_LEIPZIGER_1603"
          - "ALTE_LEIPZIGER_1703"
          - "ALTE_LEIPZIGER_1803"
          - "ALTE_LEIPZIGER_1903"
          - "ALTE_LEIPZIGER_2003"
          - "ALTE_LEIPZIGER_1503_MZ"
          - "ALTE_LEIPZIGER_1603_MZ"
          - "ALTE_LEIPZIGER_1703_MZ"
          - "ALTE_LEIPZIGER_1803_MZ"
          - "ALTE_LEIPZIGER_1903_MZ"
          - "ALTE_LEIPZIGER_2003_MZ"
          - "ALTE_LEIPZIGER_150X"
          - "ALTE_LEIPZIGER_160X"
          - "ALTE_LEIPZIGER_170X"
          - "ALTE_LEIPZIGER_180X"
          - "ALTE_LEIPZIGER_190X"
          - "ALTE_LEIPZIGER_200X"
          - "ALTE_LEIPZIGER_150X_MZ"
          - "ALTE_LEIPZIGER_160X_MZ"
          - "ALTE_LEIPZIGER_170X_MZ"
          - "ALTE_LEIPZIGER_180X_MZ"
          - "ALTE_LEIPZIGER_190X_MZ"
          - "ALTE_LEIPZIGER_200X_MZ"
          - "ALTE_LEIPZIGER_ZG_21XX_20"
          - "ALTE_LEIPZIGER_ZG_21XX_30"
          - "ALTE_LEIPZIGER_21XX_27"
          - "ALTE_LEIPZIGER_21XX_33"
          - "ALTE_LEIPZIGER_21XX"
          - "ALTE_LEIPZIGER_22XX_33"
          - "ALTE_LEIPZIGER_22XX_27"
          - "ALTE_LEIPZIGER_22XX"
          - "ALTE_LEIPZIGER_25XX_45"
          - "ALTE_LEIPZIGER_26XX_45"
          - "BKM_MAX_PREMIUM_OPTIMAL"
          - "BKM_MAX_PREMIUM_NIEDRIGE_SPARRATE"
          - "BKM_MAX_PREMIUM_NIEDRIGE_TILGUNG"
          - "BKM_MAX_PREMIUM_BESTER_ZINS"
          - "WUESTENROT_01063_4"
          - "WUESTENROT_01063_5"
          - "WUESTENROT_01063_6"
          - "WUESTENROT_01063_7"
          - "WUESTENROT_01063_8"
          - "WUESTENROT_01063_9"
          - "WUESTENROT_01063_10"
          - "WUESTENROT_01063_12"
          - "WUESTENROT_01064_4"
          - "WUESTENROT_01064_6"
          - "WUESTENROT_01064_8"
          - "WUESTENROT_01064_10"
          - "WUESTENROT_01064_12"
          - "WUESTENROT_01061_10"
          - "WUESTENROT_01062_4"
          - "DEUTSCHE_BANK_BAUSPAR_TARIF_FI1"
          - "DEUTSCHE_BANK_BAUSPAR_TARIF_FI2"
          - "DEUTSCHE_BANK_BAUSPAR_TARIF_FI3"
          - "DEUTSCHE_BANK_BAUSPAR_TARIF_FI4"
          - "DEUTSCHE_BANK_BAUSPAR_TARIF_FX1"
          - "DEUTSCHE_BANK_BAUSPAR_TARIF_FX2"
      id:
        type: "string"
        description: "Zur Referenzierung an anderer Stelle notwendig. Wenn nicht angegeben,\
          \ dann wird dieses Feld automatisch befüllt."
      sonderZahlungEinmalig:
        type: "number"
      sparBeitragMonatlichAbsolut:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      sparBeitragMonatlichRelativ:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      tilgungsBeitragMonatlich:
        type: "number"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
      vertragsPartnerIds:
        type: "array"
        items:
          type: "string"
      verwendung:
        type: "string"
        enum:
        - "ZINS_ABSICHERUNG"
        - "TILGUNGS_AUSGESETZT"
      zuteilungsDatum:
        type: "string"
        format: "date"
        description: "Von den Feldern bausparSummeAbsolut, bausparSummeRelativ, sparBeitragMonatlichAbsolut,\
          \ sparBeitragMonatlichRelativ, tilgungsBeitragMonatlich und zuteilungsDatum\
          \ können maximal zwei befüllt werden."
  Beleihung:
    type: "object"
    properties:
      auslauf:
        type: "number"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      summe:
        type: "number"
  Bereitstellung:
    type: "object"
    properties:
      bereitstellungsZins:
        type: "number"
      bereitstellungsZinsfreieZeitInMonaten:
        type: "integer"
        format: "int32"
  Beschaeftigung:
    type: "object"
    properties:
      anzahlGehaelterProJahr:
        type: "number"
        format: "double"
        description: "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER"
      arbeitgeber:
        type: "string"
        description: "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER"
      arbeitgeberInDeutschlandAnsaessig:
        type: "boolean"
        example: false
        description: "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER"
      arbeitgeberLand:
        $ref: "#/definitions/Staat"
      art:
        type: "string"
        enum:
        - "ANGESTELLTER"
        - "ARBEITER"
        - "BEAMTER"
        - "FREIBERUFLER"
        - "SELBSTAENDIGER"
        - "RENTNER"
        - "HAUSFRAU"
        - "ARBEITSLOSER"
      befristungsStatus:
        type: "string"
        description: "nur bei art == ANGESTELLTER, ARBEITER"
        enum:
        - "BEFRISTET"
        - "UNBEFRISTET"
      beruf:
        type: "string"
        description: "nur bei art != RENTNER"
      beschaeftigtSeit:
        type: "string"
        format: "date"
        description: "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER, FREIBERUFLER,\
          \ SELBSTAENDIGER"
      branche:
        type: "string"
        description: "Allgemeine Branche des Antragstellers. Wird verwendet um fü\
          r die verschiedenen Banken die Zusatzangabe Branche zu bilden."
        enum:
        - "LANDWIRTSCHAFT_FORSTWIRTSCHAFT_FISCHEREI"
        - "BERGBAU_GEWINNUNG_VON_STEINEN_UND_ERDEN"
        - "VERARBEITENDES_GEWERBE"
        - "WASSERVERSORGUNG"
        - "ENERGIEVERSORGUNG"
        - "BAUGEWERBE"
        - "HANDEL_INSTANDHALTUNG_VON_KRAFTFAHRZEUGEN"
        - "VERKEHR_LOGISTIK"
        - "GASTGEWERBE"
        - "INFORMATION_KOMMUNIKATION"
        - "FINANZ_UND_VERSICHERUNGSDIENSTLEISTUNGEN"
        - "GRUNDSTÜCKS_UND_WOHNUNGSWESEN"
        - "FREIBERUFLICHE_WISSENSCHAFTLICHE_UND_TECHNISCHE_DIENSTLEISTUNGEN"
        - "SONSTIGE_WIRTSCHAFTLICHE_DIENSTLEISTUNGEN"
        - "OEFFENTLICHE_VERWALTUNG_VERTEIDIGUNG_SOZIALVERSICHERUNG"
        - "ERZIEHUNG_UNTERRICHT"
        - "GESUNDHEIT_UND_SOZIALWESEN"
        - "KUNST_UNTERHALTUNG_ERHOLUNG"
        - "SONSTIGE_DIENSTLEISTUNGEN"
        - "PRIVATE_HAUSHALTE"
      einkommenNettoJaehrlich:
        type: "number"
        description: "nur bei art == FREIBERUFLER, SELBSTAENDIGER"
      einkommenNettoMonatlich:
        type: "number"
        description: "nur bei art != FREIBERUFLER, SELBSTAENDIGER"
      inProbezeit:
        type: "boolean"
        example: false
        description: "nur bei art == ANGESTELLTER, ARBEITER, BEAMTER"
      situationNachRenteneintritt:
        description: "nur bei art != RENTNER"
        $ref: "#/definitions/SituationNachRenteneintritt"
      taetigkeit:
        type: "string"
        description: "nur bei art == FREIBERUFLER, SELBSTAENDIGER."
        enum:
        - "ALTENPFLEGER"
        - "AMBULANTER_KRANKENPFLEGER"
        - "ANWALT"
        - "APOTHEKER"
        - "ARCHITEKT"
        - "ARZT"
        - "BESTATTER"
        - "DATENSCHUTZBEAUFTRAGTER"
        - "DEKORATEUR"
        - "DIAETASSISTENT"
        - "DOLMETSCHER"
        - "EDV_BERATER"
        - "ERGOTHERAPEUT"
        - "ERNAEHRUNGSBERATER"
        - "FOTOGRAF"
        - "GEOGRAF"
        - "GRAFIKDESIGNER"
        - "GRAFIKER"
        - "HEBAMME"
        - "HEILMASSEUR"
        - "HEILPRAKTIKER"
        - "HISTORIKER"
        - "INFORMATIKER"
        - "INGENIEUR"
        - "INSOLVENZVERWALTER"
        - "JOURNALIST"
        - "KLASSISCHER_KONZERTMUSIKER"
        - "KONSTRUKTEUR"
        - "KRANKENGYMNAST"
        - "KRANKENPFLEGER"
        - "KRANKENSCHWESTER"
        - "LOGOPAEDE"
        - "MEDIZINISCH_TECHN_ASSISTENT"
        - "NOTAR"
        - "OPERNSAENGER"
        - "PERSONALBERATER"
        - "PHYSIOTHERAPEUT"
        - "PSYCHOLOGE"
        - "RAUMAUSSTATTER"
        - "RUNDFUNKSPRECHER"
        - "SACHVERSTAENDIGER"
        - "STADTPLANER"
        - "STATIKER"
        - "STEUERBERATER"
        - "TIERARZT"
        - "UNTERNEHMENSBERATER"
        - "VERMITTLER"
        - "WIRTSCH_BUCHPRUEFER_REVISOR"
        - "ZAHNARZT"
        - "ZAHNTECHNIKER"
        - "SONSTIGES"
  BestehendeImmobilie:
    type: "object"
    properties:
      adresse:
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehen"
      bewirtschaftungsKostenJaehrlich:
        type: "number"
      bodenRichtwert:
        type: "number"
      effektivZinsErhoehendeKosten:
        description: "Effektivzinsbeeinflussende Kosten - Anpassungen nach PAngV"
        $ref: "#/definitions/EffektivZinsErhoehendeKosten"
      erbbaurecht:
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      immobilienEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "VERKAUFEN"
        - "ALS_ZUSATZSICHERHEIT"
      keinBaulandFlaecheInQm:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      keineBestehendenDarlehenVorhanden:
        type: "boolean"
      marktueblicherKaufpreisProQm:
        type: "number"
      maximalEinzusetzenderBetragWennVerkauf:
        type: "number"
      objektArt:
        type: "string"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: "number"
      vergleichsmieteFuerWohnflaecheProQm:
        type: "number"
      verkehrswert:
        type: "number"
        description: "Verkehrswert, nur relevant bei Finanzbedarf AnschlussFinanzierung,\
          \ Modernisierung und Kapitalbeschaffung"
      vorlaeufigerVerkehrswert:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      wohnlage:
        type: "string"
        enum:
        - "GEHOBEN"
        - "MITTEL"
        - "EINFACH"
  BestehenderBausparvertrag:
    type: "object"
    properties:
      abschlussGebuehr:
        type: "number"
      aktuellerWert:
        type: "number"
      bausparSumme:
        type: "number"
      einmalzahlung:
        type: "number"
      ertrag:
        type: "number"
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      sparBeitragMonatlich:
        type: "number"
      tarif:
        type: "string"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
      zukuenftigeEinnahmen:
        type: "number"
      zuteilungsDatum:
        type: "string"
        format: "date"
  BestehendesDarlehen:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
        description: "nur wenn wirdAbgeloest == false"
      darlehensArt:
        type: "string"
        enum:
        - "BAUSPARDARLEHEN"
        - "FOERDERDARLEHEN"
        - "IMMOBILIENDARLEHEN"
        - "SONSTIGES_DARLEHEN"
        - "PRIVATDARLEHEN"
      darlehensBetrag:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck\
          \ == ANSCHLUSSFINANZIERUNG"
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      darlehensKontonummer:
        type: "string"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck\
          \ == ANSCHLUSSFINANZIERUNG"
      eingetrageneGrundschuld:
        type: "number"
      grundschuldArt:
        type: "string"
        enum:
        - "BRIEF_GRUNDSCHULD"
        - "BUCH_GRUNDSCHULD"
      id:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      sondertilgungZumZinsBindungsEnde:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck\
          \ == ANSCHLUSSFINANZIERUNG"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
  BestehendesDarlehenDesFinanzierungsObjekts:
    type: "object"
    properties:
      abzuloesendeRestschuld:
        type: "number"
      aktuelleRestschuldWennNichtAbzuloesen:
        type: "number"
        description: "nur wenn wirdAbgeloest == false"
      darlehensArt:
        type: "string"
        enum:
        - "BAUSPARDARLEHEN"
        - "FOERDERDARLEHEN"
        - "IMMOBILIENDARLEHEN"
        - "SONSTIGES_DARLEHEN"
        - "PRIVATDARLEHEN"
      darlehensBetrag:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck\
          \ == ANSCHLUSSFINANZIERUNG"
      darlehensGeber:
        $ref: "#/definitions/ProduktAnbieter"
      darlehensKontonummer:
        type: "string"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck\
          \ == ANSCHLUSSFINANZIERUNG"
      eingetrageneGrundschuld:
        type: "number"
      grundschuldArt:
        type: "string"
        enum:
        - "BRIEF_GRUNDSCHULD"
        - "BUCH_GRUNDSCHULD"
      id:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      sondertilgungZumZinsBindungsEnde:
        type: "number"
        description: "für Prolongation, d.h. technisch: Vorhaben verwendungszweck\
          \ == ANSCHLUSSFINANZIERUNG"
      verwendenAls:
        type: "string"
        description: "Beschreibt wie das Darlehen im Zusammenhang mit dem Vorhaben,\
          \ behandelt werden soll."
        enum:
        - "ABLOESEN"
        - "TRITT_IM_RANG_ZURUECK"
        - "TRITT_NICHT_IM_RANG_ZURUECK"
      zinsBindungEndetAm:
        type: "string"
        format: "date"
  Darlehen:
    type: "object"
    properties:
      auszahlungsBetrag:
        type: "number"
        description: "Der Auszahlungsbetrag ist der Nettodarlehensbetrag"
      bereitstellung:
        $ref: "#/definitions/Bereitstellung"
      darlehensBetrag:
        type: "number"
      darlehensTyp:
        type: "string"
        enum:
        - "ANNUITAETEN_DARLEHEN"
        - "FORWARD_DARLEHEN"
        - "KFW_DARLEHEN"
        - "PRIVAT_DARLEHEN"
        - "ZWISCHEN_FINANZIERUNG"
        - "VARIABLES_DARLEHEN"
        - "BAUSPARVERTRAG"
      effektivZins:
        type: "number"
      effektivZinsRelevanteKosten:
        $ref: "#/definitions/EffektivZinsRelevanteKosten"
      finanzierenderProduktAnbieter:
        description: "Kann z.B. bei KfW abweichen vom produktAnbieter"
        $ref: "#/definitions/ProduktAnbieter"
      gesamtkosten:
        type: "number"
      gesamtlaufzeitInMonaten:
        type: "integer"
        format: "int32"
      id:
        type: "string"
      produktAnbieter:
        $ref: "#/definitions/ProduktAnbieter"
      provision:
        $ref: "#/definitions/Provision"
      rateMonatlich:
        type: "number"
      sollZins:
        type: "number"
      tilgung:
        $ref: "#/definitions/Tilgung"
      zinsBindung:
        $ref: "#/definitions/ZinsBindung"
      zinsZahlungsBeginnAm:
        type: "string"
        format: "date"
  DarlehensWunsch:
    type: "object"
    properties:
      annuitaetenDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/AnnuitaetenDarlehensWunsch"
      forwardDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/ForwardDarlehensWunsch"
      id:
        type: "string"
        description: "Zur Referenzierung an anderer Stelle notwendig. Wenn nicht angegeben,\
          \ dann wird dieses Feld automatisch befüllt."
      kfwDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/KfwDarlehensWunsch"
      privatDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/PrivatDarlehensWunsch"
      variablesDarlehen:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/VariablesDarlehensWunsch"
      zwischenFinanzierung:
        description: "muss leer sein, wenn eines der anderen Attribute gefüllt ist"
        $ref: "#/definitions/ZwischenFinanzierungsWunsch"
  EffektivZinsErhoehendeKosten:
    type: "object"
    properties:
      anpassen:
        type: "boolean"
        example: false
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      grundbuchEintragungsKostenEinmalig:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      sonstigeKostenBezeichnung:
        type: "string"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      sonstigeKostenEinmalig:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      wohnGebaeudeVersicherungsKostenJaehrlich:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
  EffektivZinsRelevanteKosten:
    type: "object"
    properties:
      beratungsHonorar:
        type: "number"
      grundbuchKosten:
        type: "number"
      sonstigeKosten:
        type: "number"
      tilgungsErsatzProduktKosten:
        type: "number"
      wohnGebaeudeVersicherungsKosten:
        type: "number"
      zusatzSicherheitsKosten:
        type: "number"
  EinkuenfteAusNebentaetigkeit:
    type: "object"
    properties:
      beginnDerNebentaetigkeit:
        type: "string"
        format: "date"
      einnahmenMonatlich:
        type: "number"
  EinnahmenMonatlich:
    type: "object"
    properties:
      einnahmenMonatlich:
        type: "number"
  Eintrag:
    type: "object"
    properties:
      datum:
        type: "string"
      kontofuehrungsGebuehr:
        type: "number"
      laufendeGebuehr:
        type: "number"
      saldo:
        type: "number"
      summenBereichTyp:
        type: "string"
        enum:
        - "JAHR"
        - "MONATE"
      tilgung:
        type: "number"
      trigger:
        type: "array"
        items:
          type: "string"
      zahlung:
        type: "number"
      zahlungsTyp:
        type: "string"
        enum:
        - "EINZAHLUNG"
        - "AUSZAHLUNG"
      zins:
        type: "number"
  Erbbaurecht:
    type: "object"
    properties:
      erbbaurecht:
        type: "boolean"
        example: false
        description: "Erbbaurecht vorhanden"
      erbbauzinsJaehrlich:
        type: "number"
      grundstuecksEigentuemer:
        type: "string"
        enum:
        - "ANDERE"
        - "OEFFENTLICH_KIRCHLICH"
      laufzeitBisJahr:
        type: "string"
        example: "2088"
  ErfassteDaten:
    type: "object"
    required:
    - "vorhaben"
    properties:
      bankverbindung:
        $ref: "#/definitions/Bankverbindung"
      datenKontext:
        type: "string"
        enum:
        - "TEST_MODUS"
        - "ECHT_GESCHAEFT"
      externeVorgangsNummer:
        type: "string"
      finanzierungsObjekt:
        $ref: "#/definitions/FinanzierungsObjekt"
      haushalte:
        type: "array"
        items:
          $ref: "#/definitions/Haushalt"
      kundenBetreuer:
        $ref: "#/definitions/Partner"
      leadTracking:
        $ref: "#/definitions/LeadTracking"
      tippGeber:
        $ref: "#/definitions/Partner"
      vorgangsBearbeiter:
        $ref: "#/definitions/Partner"
      vorgangsNummer:
        type: "string"
      vorhaben:
        $ref: "#/definitions/Vorhaben"
  ErgebnisListeResource:
    type: "object"
    properties:
      finanzierungsVorschlaege:
        type: "array"
        items:
          $ref: "#/definitions/FinanzierungsVorschlagResource"
      links:
        type: "array"
        items:
          $ref: "#/definitions/Link"
  Error:
    type: "object"
    properties:
      cause:
        $ref: "#/definitions/Throwable"
      localizedMessage:
        type: "string"
      message:
        type: "string"
      stackTrace:
        type: "array"
        items:
          $ref: "#/definitions/StackTraceElement"
      suppressed:
        type: "array"
        items:
          $ref: "#/definitions/Throwable"
  Finanzbedarf:
    type: "object"
    properties:
      aussenAnlagen:
        type: "number"
      bauNebenkosten:
        type: "number"
      beratungsHonorar:
        type: "number"
      bereitsBeglichen:
        type: "number"
      erschliessung:
        type: "number"
      grunderwerbsteuer:
        type: "number"
        description: "Nebenkosten"
      grundstueckBereitsBezahlt:
        type: "boolean"
      grundstuecksKaufpreis:
        type: "number"
      herstellung:
        type: "number"
        description: "inklusive Eigenleistungen"
      kapitalBeschaffung:
        type: "number"
      kapitalWirdBeschafft:
        type: "boolean"
      kaufpreis:
        type: "number"
        description: "inklusive Eigenleistungen"
      maklergebuehr:
        type: "number"
        description: "Nebenkosten"
      mobiliar:
        type: "number"
      modernisieren:
        type: "boolean"
      modernisierung:
        type: "number"
        description: "inklusive Eigenleistungen"
      notargebuehr:
        type: "number"
        description: "Nebenkosten"
      renovierung:
        type: "number"
      sonstigeKosten:
        type: "number"
      zusaetzlichesKapital:
        type: "number"
  Finanzierung:
    type: "object"
    properties:
      bausparAngebot:
        $ref: "#/definitions/BausparAngebot"
      darlehen:
        $ref: "#/definitions/Darlehen"
      sparplan:
        $ref: "#/definitions/Zahlungen"
      tilgungsplan:
        $ref: "#/definitions/Zahlungen"
  FinanzierungsObjekt:
    type: "object"
    properties:
      adresse:
        $ref: "#/definitions/Postadresse"
      autostellplaetze:
        type: "array"
        items:
          $ref: "#/definitions/Autostellplatz"
      bestehendeDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/BestehendesDarlehenDesFinanzierungsObjekts"
      bewirtschaftungsKostenJaehrlich:
        type: "number"
      bodenRichtwert:
        type: "number"
      effektivZinsErhoehendeKosten:
        description: "Effektivzinsbeeinflussende Kosten - Anpassungen nach PAngV"
        $ref: "#/definitions/EffektivZinsErhoehendeKosten"
      erbbaurecht:
        $ref: "#/definitions/Erbbaurecht"
      gebaeude:
        $ref: "#/definitions/Gebaeude"
      grundbuchAngabe:
        $ref: "#/definitions/GrundbuchAngabe"
      grundstueck:
        $ref: "#/definitions/Grundstueck"
      id:
        type: "string"
      keinBaulandFlaecheInQm:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      marktueblicherKaufpreisProQm:
        type: "number"
      objektArt:
        type: "string"
        enum:
        - "GRUNDSTUECK"
        - "EIGENTUMSWOHNUNG"
        - "HAUS"
      vergleichsmieteFuerGewerbeflaecheProQm:
        type: "number"
      vergleichsmieteFuerWohnflaecheProQm:
        type: "number"
      verkehrswert:
        type: "number"
        description: "Verkehrswert, nur relevant bei Finanzbedarf AnschlussFinanzierung,\
          \ Modernisierung und Kapitalbeschaffung"
      vorlaeufigerVerkehrswert:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      wohnlage:
        type: "string"
        enum:
        - "GEHOBEN"
        - "MITTEL"
        - "EINFACH"
  FinanzierungsVorschlagResource:
    type: "object"
    properties:
      annahmeFrist:
        type: "string"
        format: "date-time"
      anpassungsStatus:
        type: "string"
        enum:
        - "NICHT_ANGEPASST"
        - "ANGEPASST"
        - "ALTERNATIV"
      bausparAngebote:
        type: "array"
        items:
          $ref: "#/definitions/BausparAngebot"
      beleihung:
        type: "array"
        items:
          $ref: "#/definitions/Beleihung"
      darlehen:
        type: "array"
        items:
          $ref: "#/definitions/Darlehen"
      darlehensSumme:
        type: "number"
      effektivZins:
        type: "number"
      erzeugtAm:
        type: "string"
        format: "date-time"
      kennung:
        type: "string"
      links:
        type: "array"
        items:
          $ref: "#/definitions/Link"
      machbarkeit:
        type: "string"
        enum:
        - "MACHBAR"
        - "UNTER_VORBEHALT"
        - "NICHT_MACHBAR"
      meldungen:
        type: "array"
        items:
          $ref: "#/definitions/Meldung"
      sollZins:
        type: "number"
  Finanzierungswunsch:
    type: "object"
    properties:
      bausparWuensche:
        type: "array"
        items:
          $ref: "#/definitions/BausparWunsch"
      darlehensWuensche:
        type: "array"
        items:
          $ref: "#/definitions/DarlehensWunsch"
      id:
        type: "string"
  Flurstueck:
    type: "object"
    properties:
      anteil:
        $ref: "#/definitions/MiteigentumsAnteil"
      flur:
        type: "string"
      flurstuecksNummer:
        type: "string"
      groesse:
        type: "number"
  ForwardDarlehensWunsch:
    type: "object"
    required:
    - "tilgungsWunsch"
    properties:
      auszahlungsDatum:
        type: "string"
        format: "date"
      bereitstellungsZinsFreieZeitInMonaten:
        type: "integer"
        format: "int32"
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      sondertilgungOptionalJaehrlich:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
  Gebaeude:
    type: "object"
    properties:
      anzahlDerGewerbeeinheiten:
        type: "integer"
        format: "int32"
        description: "Nur bei ObjektArt == HAUS."
      anzahlDerWohneinheitenImGebaeude:
        type: "integer"
        format: "int32"
      anzahlVollgeschosse:
        type: "integer"
        format: "int32"
      aufbauFinanzierung:
        type: "boolean"
      aufzugVorhanden:
        type: "boolean"
      ausstattung:
        type: "string"
        enum:
        - "EINFACH"
        - "MITTEL"
        - "GEHOBEN"
        - "STARK_GEHOBEN"
      baujahr:
        type: "string"
        example: "2016"
        description: "Bei verwendungszweck != NEUBAU"
      bauweise:
        type: "string"
        enum:
        - "FACHWERK_MIT_STROH_LEHM"
        - "FACHWERK_MIT_ZIEGELN"
        - "GLAS_STAHL"
        - "HOLZ"
        - "MASSIV"
      bezeichnungWohneinheit:
        type: "string"
        description: "Nur bei ObjektArt == EIGENTUMSWOHNUNG."
      dachgeschossAusbau:
        type: "string"
        description: "Nur bei ObjektArt == HAUS."
        enum:
        - "FLACHDACH"
        - "NICHT_AUSGEBAUT"
        - "TEILWEISE_AUSGEBAUT"
        - "VOLL_AUSGEBAUT"
      einliegerwohnungVorhanden:
        type: "boolean"
        example: false
        description: "Nur bei ObjektArt == HAUS."
      geschossLage:
        type: "string"
        description: "Nur bei ObjektArt == EIGENTUMSWOHNUNG."
        enum:
        - "UNTERGESCHOSS"
        - "ERDGESCHOSS"
        - "ERSTES_OBERGESCHOSS"
        - "ZWEITES_OBERGESCHOSS"
        - "DRITTES_BIS_FUENFTES_OBERGESCHOSS"
        - "AB_SECHSTES_OBERGESCHOSS"
        - "UNBEKANNT"
      gewerbeflaeche:
        $ref: "#/definitions/GebaeudeFlaeche"
      hausAnordnung:
        type: "string"
        enum:
        - "FREISTEHEND"
        - "KOPFHAUS"
        - "MITTELHAUS"
      hausTyp:
        type: "string"
        description: "Nur bei ObjektArt == HAUS."
        enum:
        - "DOPPELHAUSHAELFTE"
        - "EINFAMILIENHAUS"
        - "MEHRFAMILIENHAUS"
        - "REIHENHAUS"
        - "ZWEIFAMILIENHAUS"
      istFertighaus:
        type: "boolean"
        example: false
        description: "Nur bei ObjektArt == HAUS."
      kellerausbau:
        type: "string"
        enum:
        - "AUSGEBAUT"
        - "TEILWEISE_AUSGEBAUT"
        - "VORHANDEN"
      kubatur:
        type: "number"
        description: "Angabe in Kubikmetern."
      miteigentumsAnteil:
        description: "Nur bei ObjektArt == EIGENTUMSWOHNUNG."
        $ref: "#/definitions/MiteigentumsAnteil"
      modernisierungsAngaben:
        $ref: "#/definitions/ModernisierungsAngaben"
      unterkellerung:
        type: "string"
        description: "Nur bei ObjektArt == HAUS."
        enum:
        - "NICHT_UNTERKELLERT"
        - "TEILWEISE_UNTERKELLERT"
        - "UNTERKELLERT"
      wohnflaeche:
        $ref: "#/definitions/GebaeudeFlaeche"
  GebaeudeFlaeche:
    type: "object"
    properties:
      gesamtGroesse:
        type: "number"
      vermietungsInformationen:
        $ref: "#/definitions/VermietungsInformationen"
  GrundbuchAngabe:
    type: "object"
    properties:
      anmerkungen:
        type: "string"
      bandUndBlatt:
        type: "string"
      flurstuecke:
        type: "array"
        items:
          $ref: "#/definitions/Flurstueck"
      ort:
        type: "string"
        description: "Ort des als Grundbuchamt zuständigen Amtsgerichtes"
      rechteInAbteilung2:
        description: "Belastungen und Beschränkungen in der Nutzbarkeit des Grundstü\
          cks. Leitungsrechte, Verzichte auf Abstandsflächen, Wegerechte, Insolvenzvermerke."
        $ref: "#/definitions/RechteAbteilung2"
  Grundstueck:
    type: "object"
    properties:
      groesse:
        type: "number"
      grundstuecksArt:
        type: "string"
        enum:
        - "UNBEBAUTES_WOHNGRUNDSTUECK"
        - "UNBEBAUTES_MISCHGRUNDSTUECK"
        - "UNBEBAUTES_GEWERBEGRUNDSTUECK"
        - "LANDWIRTSCHAFTLICHES_GRUNDSTUECK"
        - "SONSTIGES_GRUNDSTUECK"
  Haushalt:
    type: "object"
    properties:
      antragsteller:
        type: "array"
        items:
          $ref: "#/definitions/Antragsteller"
      anzahlErwachseneImHaushalt:
        type: "integer"
        format: "int32"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      anzahlKinderNichtImHaushalt:
        type: "integer"
        format: "int32"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      bestehendeImmobilien:
        type: "array"
        items:
          $ref: "#/definitions/BestehendeImmobilie"
      id:
        type: "string"
      kfzAnzahl:
        type: "integer"
        format: "int32"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      kinder:
        type: "array"
        items:
          $ref: "#/definitions/Kind"
      lebenshaltungsKostenMonatlich:
        type: "number"
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
      obligo:
        description: "Diese Angabe ist produktanbieterspezifisch, sie wird nicht von\
          \ allen Produktanbietern bei der Angebotsermittlung berücksichtigt."
        $ref: "#/definitions/VermoegenVerbindlichkeiten"
      positionen:
        $ref: "#/definitions/HaushaltsPositionen"
  HaushaltsPositionen:
    type: "object"
    properties:
      bankUndSparguthaben:
        type: "array"
        items:
          $ref: "#/definitions/BankUndSparguthaben"
      bausparvertraege:
        type: "array"
        items:
          $ref: "#/definitions/BestehenderBausparvertrag"
      ehegattenUnterhalt:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      einkuenfteAusNebentaetigkeit:
        type: "array"
        items:
          $ref: "#/definitions/EinkuenfteAusNebentaetigkeit"
      lebensUndRentenVersicherungen:
        type: "array"
        items:
          $ref: "#/definitions/LebensOderRentenversicherungVermoegen"
      mietAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/MietAusgaben"
      privateDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      privateKrankenversicherung:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      ratenkredite:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      sonstigeEinnahmen:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      sonstigeVerbindlichkeiten:
        type: "array"
        items:
          $ref: "#/definitions/Verbindlichkeit"
      sonstigeVermoegen:
        type: "array"
        items:
          $ref: "#/definitions/Vermoegen"
      sparplaene:
        type: "array"
        items:
          $ref: "#/definitions/Sparplaene"
      unbefristeteZusatzRenten:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      unterhaltsVerpflichtungen:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      variableEinkuenfte:
        type: "array"
        items:
          $ref: "#/definitions/EinnahmenMonatlich"
      versicherungsAusgaben:
        type: "array"
        items:
          $ref: "#/definitions/AusgabenMonatlich"
      wertpapiere:
        type: "array"
        items:
          $ref: "#/definitions/Wertpapiere"
  KfwDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      kfwEnergieEffizienzStandard:
        type: "string"
        enum:
        - "STANDARD_40_PLUS"
        - "STANDARD_40"
        - "STANDARD_55"
        - "STANDARD_70"
      kfwProgramm:
        type: "string"
        enum:
        - "PROGRAMM_124"
        - "PROGRAMM_141"
        - "PROGRAMM_151"
        - "PROGRAMM_152"
        - "PROGRAMM_153"
        - "PROGRAMM_155"
        - "PROGRAMM_159"
        - "PROGRAMM_167"
      laufzeitInJahren:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
      tilgungsfreieAnlaufjahre:
        type: "integer"
        format: "int32"
        description: "Erlaubt ist 1,2,3,4,5. Maximalwert abhängig von der Laufzeit"
      zinsBindungInJahren:
        type: "integer"
        format: "int32"
        description: "Programm 124: 5 oder 10, sonst: 10 oder 20"
  Kind:
    type: "object"
    properties:
      geburtsdatum:
        type: "string"
        format: "date"
      id:
        type: "string"
      kindergeldWirdBezogen:
        type: "boolean"
      name:
        type: "string"
      unterhaltsEinnahmenBetragMonatlich:
        type: "number"
  LeadTracking:
    type: "object"
    properties:
      kampagne:
        type: "string"
      keyword:
        type: "string"
      kundenBetreuerBenachrichtigen:
        type: "boolean"
      trackingId:
        type: "string"
  LebensOderRentenversicherungVermoegen:
    type: "object"
    properties:
      id:
        type: "string"
      maximalAufzuloesenderBetrag:
        type: "number"
      praemieMonatlich:
        type: "number"
      rueckkaufsWertAktuell:
        type: "number"
      tarif:
        type: "string"
      typ:
        type: "string"
        enum:
        - "KAPITALBILDENDE_LEBENSVERSICHERUNG"
        - "FONDSGEBUNDENE_LEBENSVERSICHERUNG"
        - "KAPITALBILDENDE_RENTENVERSICHERUNG"
        - "FONDSGEBUNDENE_RENTENVERSICHERUNG"
        - "RISIKO_LEBENSVERSICHERUNG"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      versicherungsGesellschaft:
        type: "string"
      versicherungsSumme:
        type: "number"
      vertragsBeginn:
        type: "string"
        format: "date"
      vertragsEnde:
        type: "string"
        format: "date"
      vertragsNummer:
        type: "string"
      verwaltungsgebuehrenJaehrlich:
        type: "number"
  LegitimationsDaten:
    type: "object"
    properties:
      ausstellendeBehoerde:
        type: "string"
      ausstellungsdatum:
        type: "string"
        format: "date"
      ausweisArt:
        type: "string"
        enum:
        - "PERSONALAUSWEIS"
        - "REISEPASS"
        - "ANDERE"
      ausweisArtBeiAndererAusweis:
        type: "string"
        description: "Nur wenn ausweisArt = ANDERE"
      ausweisNummer:
        type: "string"
  Link:
    type: "object"
    properties:
      href:
        type: "string"
      rel:
        type: "string"
      templated:
        type: "boolean"
  Links:
    type: "object"
    properties:
      self:
        $ref: "#/definitions/Link"
  Meldung:
    type: "object"
    properties:
      bereichsZuordnung:
        type: "string"
        enum:
        - "ANTRAGSTELLER"
        - "OBJEKT"
        - "VORHABEN"
        - "ALTERNATIV"
        - "ANPASSUNG"
        - "UNBERUECKSICHTIGTE_ANGABE"
      code:
        type: "string"
      meldungsKategorie:
        type: "string"
        enum:
        - "AUSZAHLUNGS_VORAUSSETZUNG"
        - "MACHBAR"
        - "MACHBARKEITS_HINWEIS"
        - "ANPASSUNG_KUNDENWUNSCH"
        - "ANPASSUNG_VERTRIEBSWUNSCH"
        - "UNBERUECKSICHTIGTE_ANGABE"
        - "KONDITIONEN_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN"
        - "KONDITIONEN_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN"
        - "MACHBARKEIT_UNTER_VORBEHALT_VOLLSTAENDIGER_DATEN"
        - "MACHBARKEIT_UNTER_VORBEHALT_EXTERNER_SCHNITTSTELLEN"
        - "MACHBAR_UNTER_VORBEHALT_PRODUZENT"
        - "NICHT_MACHBAR"
        - "NICHT_ANBIETBAR"
      produktAnbieterId:
        type: "string"
      text:
        type: "string"
  MeldungenResource:
    type: "object"
    properties:
      meldungen:
        type: "array"
        items:
          $ref: "#/definitions/Meldung"
      _links:
        $ref: "#/definitions/Links"
  MietAusgaben:
    type: "object"
    properties:
      ausgabenMonatlich:
        type: "number"
      entfallenMitFinanzierung:
        type: "boolean"
  MiteigentumsAnteil:
    type: "object"
    properties:
      anteil:
        type: "number"
        format: "double"
      gesamt:
        type: "integer"
        format: "int32"
  ModernisierungsAngaben:
    type: "object"
    properties:
      badWc:
        type: "boolean"
      bodenWandTreppe:
        type: "boolean"
      dach:
        type: "boolean"
      fenster:
        type: "boolean"
      heizungZentral:
        type: "boolean"
      modernisierungsGrad:
        type: "string"
        enum:
        - "GERING"
        - "MITTEL"
        - "HOCH"
      modernisierungsJahr:
        type: "string"
        example: "2016"
        description: "Jahr der Modernisierung der Immobilie"
      raumaufteilung:
        type: "boolean"
      stromAbwasserHeizkoerper:
        type: "boolean"
      waermedaemmung:
        type: "boolean"
      wurdeModernisiert:
        type: "boolean"
  NachrangigesExternesDarlehen:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      darlehensGeber:
        type: "string"
        description: "Der Name des externen Darlehensgebers (Firmierung). Es gibt\
          \ keine entsprechende Beziehung zu einem Partner auf der Europace-Plattform."
      id:
        type: "string"
      rateMonatlich:
        type: "number"
      typ:
        type: "string"
        enum:
        - "ARBEITGEBERDARLEHEN"
        - "BAUSPARDARLEHEN"
        - "OEFFENTLICHES_DARLEHEN"
        - "RATENKREDIT"
      zinsBindung:
        $ref: "#/definitions/ZinsBindung"
  Partner:
    type: "object"
    properties:
      anrede:
        type: "string"
        enum:
        - "FRAU"
        - "HERR"
      anschrift:
        $ref: "#/definitions/Postadresse"
      email:
        type: "string"
      externePartnerId:
        type: "string"
      externerKreditSachbearbeiterId:
        type: "string"
      fax:
        type: "string"
      firmenNameZusatz:
        type: "string"
      firmierung:
        type: "string"
      geburtsdatum:
        type: "string"
        format: "date"
      id:
        type: "string"
      kreditsachbearbeiter:
        type: "boolean"
      mobilTelefon:
        type: "string"
      nachname:
        type: "string"
      telefonnummer:
        type: "string"
      vertriebsOrganisation:
        $ref: "#/definitions/VertriebsOrganisation"
      vorname:
        type: "string"
      webseite:
        type: "string"
  Postadresse:
    type: "object"
    properties:
      hausnummer:
        type: "string"
      ort:
        type: "string"
      postleitzahl:
        type: "string"
      strasse:
        type: "string"
  PrivatDarlehensWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      laufzeitInMonaten:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
  ProduktAnbieter:
    type: "object"
    properties:
      name:
        type: "string"
      partnerId:
        type: "string"
      produktAnbieterId:
        type: "string"
  Provision:
    type: "object"
    properties:
      provisionAbsolut:
        type: "number"
      provisionRelativ:
        type: "number"
  RechteAbteilung2:
    type: "object"
    properties:
      beschreibung:
        type: "string"
      betrag:
        type: "number"
      vorhanden:
        type: "boolean"
  SituationNachRenteneintritt:
    type: "object"
    properties:
      gesetzlicheRenteMonatlich:
        type: "number"
      privateRenteMonatlich:
        type: "number"
      rentenBeginn:
        type: "string"
        format: "date"
      sonstigesEinkommenMonatlich:
        type: "number"
  SparPhase:
    type: "object"
    properties:
      guthabenBeiZuteilung:
        type: "number"
      sparBeitragMonatlich:
        type: "number"
      sparPhaseInJahren:
        type: "integer"
        format: "int32"
  Sparplaene:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      beitragMonatlich:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zukuenftigeEinnahmen:
        type: "number"
  Staat:
    type: "object"
    properties:
      isoCountryCode:
        type: "string"
      name:
        type: "string"
  StackTraceElement:
    type: "object"
    properties:
      className:
        type: "string"
      fileName:
        type: "string"
      lineNumber:
        type: "integer"
        format: "int32"
      methodName:
        type: "string"
      nativeMethod:
        type: "boolean"
  Throwable:
    type: "object"
    properties:
      cause:
        $ref: "#/definitions/Throwable"
      localizedMessage:
        type: "string"
      message:
        type: "string"
      stackTrace:
        type: "array"
        items:
          $ref: "#/definitions/StackTraceElement"
      suppressed:
        type: "array"
        items:
          $ref: "#/definitions/Throwable"
  Tilgung:
    type: "object"
    properties:
      anfaenglicheTilgung:
        type: "number"
      sonderTilgungJaehrlich:
        type: "number"
      tilgungsBeginn:
        type: "string"
        format: "date"
  TilgungsPhase:
    type: "object"
    properties:
      bausparDarlehenSumme:
        type: "number"
      sollZinsNachZuteilung:
        type: "number"
      tilgungsBeitragMonatlich:
        type: "number"
      tilgungsPhaseInJahren:
        type: "integer"
        format: "int32"
  TilgungsWunsch:
    type: "object"
    properties:
      anfaenglicheTilgung:
        type: "number"
        description: "nur eines der Felder anfaenglicheTilgung, volltilgerWennAnnuitaetenOderForward\
          \ und rate darf gefüllt sein"
      ausgesetztBerechnet:
        type: "boolean"
        example: false
        description: "ausgesetztBerechnet und ausgesetztEigenesAngebot dürfen nicht\
          \ beide true sein"
      ausgesetztEigenesAngebot:
        type: "boolean"
        example: false
        description: "ausgesetztBerechnet und ausgesetztEigenesAngebot dürfen nicht\
          \ beide true sein"
      bausparWunsch:
        $ref: "#/definitions/BausparWunsch"
      rate:
        type: "number"
        description: "nur eines der Felder anfaenglicheTilgung, volltilgerWennAnnuitaetenOderForward\
          \ und rate darf gefüllt sein"
      tilgungsBeginn:
        type: "string"
        format: "date"
      tilgungsErsatzProduktId:
        type: "string"
      volltilgerWennAnnuitaetenOderForward:
        type: "boolean"
        example: false
        description: "nur eines der Felder anfaenglicheTilgung, volltilgerWennAnnuitaetenOderForward\
          \ und rate darf gefüllt sein"
  TilgungsplaeneResource:
    type: "object"
    properties:
      finanzierungen:
        type: "array"
        items:
          $ref: "#/definitions/Finanzierung"
      _links:
        $ref: "#/definitions/Links"
  Unterlage:
    type: "object"
    properties:
      bezugsObjektId:
        type: "string"
      code:
        type: "string"
      faelligkeit:
        type: "string"
        enum:
        - "ZUR_VERBINDLICHEN_ANGEBOTSANNAHME"
        - "VOR_DER_ERSTEN_AUSZAHLUNG"
        - "VOR_JEDER_AUSZAHLUNG"
        - "VOR_AUSZAHLUNG_LETZTE_RATE"
        - "NACHZUREICHEN_SOBALD_VERFUEGBAR"
      produktAnbieterId:
        type: "string"
      text:
        type: "string"
      zuordnung:
        type: "string"
        enum:
        - "ANTRAGSTELLER"
        - "OBJEKT"
        - "VORHABEN"
        - "ALTERNATIV"
        - "ANPASSUNG"
        - "UNBERUECKSICHTIGTE_ANGABE"
  UnterlagenResource:
    type: "object"
    properties:
      unterlagen:
        type: "array"
        items:
          $ref: "#/definitions/Unterlage"
      _links:
        $ref: "#/definitions/Links"
  VariablesDarlehensWunsch:
    type: "object"
    required:
    - "tilgungsWunsch"
    properties:
      darlehensBetrag:
        type: "number"
      provision:
        type: "number"
      tilgungsWunsch:
        $ref: "#/definitions/TilgungsWunsch"
  Verbindlichkeit:
    type: "object"
    properties:
      glaeubiger:
        type: "string"
      laufzeitEnde:
        type: "string"
        format: "date"
      rateMonatlich:
        type: "number"
      restschuld:
        type: "number"
      wirdAbgeloest:
        type: "boolean"
  VermietungsInformationen:
    type: "object"
    properties:
      mieteinnahmenNettoKaltMonatlich:
        type: "number"
      nutzungsArt:
        type: "string"
        enum:
        - "EIGENGENUTZT"
        - "TEIL_VERMIETET"
        - "VERMIETET"
      vermieteteFlaeche:
        type: "number"
  Vermoegen:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zukuenftigeEinnahmen:
        type: "number"
  VermoegenVerbindlichkeit:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      anrechnungFuerBlankoAnteil:
        type: "number"
      bezeichner:
        type: "string"
      kontonummer:
        type: "string"
      vermoegensTyp:
        type: "string"
        enum:
        - "VERMOEGEN"
        - "VERBINDLICHKEIT"
  VermoegenVerbindlichkeiten:
    type: "object"
    properties:
      vermoegenOderVerbindlichkeiten:
        type: "array"
        items:
          $ref: "#/definitions/VermoegenVerbindlichkeit"
  VertriebsOrganisation:
    type: "object"
    properties:
      firmenName:
        type: "string"
      id:
        type: "string"
      organisationsName:
        type: "string"
      organisationsNameFuerProvisionsClearing:
        type: "string"
      partner:
        type: "string"
      vertriebsOrganisationsId:
        type: "string"
  Vorhaben:
    type: "object"
    properties:
      eigenleistungWennNeubauOderModernisierungsmassnahmen:
        type: "number"
      externeBausparAngebote:
        type: "array"
        items:
          $ref: "#/definitions/BausparAngebot"
      finanzbedarf:
        $ref: "#/definitions/Finanzbedarf"
      finanzierungswunsch:
        $ref: "#/definitions/Finanzierungswunsch"
      id:
        type: "string"
      nachfinanzierung:
        type: "boolean"
        example: false
        description: "Wenn es sich um eine Nachfinanzierung handelt, dann dieses Feld\
          \ auf true setzen. Wird z.Zt. nur von der DSL Bank ausgewertet. Nur setzen,\
          \ wenn auch bestehende Darlehen in der Finanzierungsimmobilie vorhanden\
          \ sind."
      nachrangigeExterneDarlehen:
        type: "array"
        items:
          $ref: "#/definitions/NachrangigesExternesDarlehen"
      verwendungszweck:
        type: "string"
        enum:
        - "ANSCHLUSSFINANZIERUNG"
        - "KAUF"
        - "KAUF_NEUBAU_VOM_BAUTRAEGER"
        - "MODERNISIERUNG_UMBAU_ANBAU"
        - "NEUBAU"
        - "KAPITALBESCHAFFUNG"
  Wertpapiere:
    type: "object"
    properties:
      aktuellerWert:
        type: "number"
      dividendenJaehrlich:
        type: "number"
      ertrag:
        type: "number"
      maximalAufzuloesenderWert:
        type: "number"
      vermoegensEinsatz:
        type: "string"
        enum:
        - "KEIN_EINSATZ"
        - "ABTRETEN"
        - "AUFLOESEN"
      zukuenftigeEinnahmen:
        type: "number"
  Zahlungen:
    type: "object"
    properties:
      gesamtSumme:
        $ref: "#/definitions/Eintrag"
      jaehrlich:
        type: "array"
        items:
          $ref: "#/definitions/Eintrag"
      monatlich:
        type: "array"
        items:
          $ref: "#/definitions/Eintrag"
      sparplanSummenEintragZumZuteilungsZeitpunkt:
        type: "array"
        items:
          $ref: "#/definitions/Eintrag"
      summeEndeDerZinsbindung:
        type: "array"
        items:
          $ref: "#/definitions/Eintrag"
  ZinsBindung:
    type: "object"
    properties:
      endetAm:
        type: "string"
        format: "date"
      jahre:
        type: "integer"
        format: "int32"
      monate:
        type: "integer"
        format: "int32"
      restschuldNachZinsBindungsEnde:
        type: "number"
  ZwischenFinanzierungsWunsch:
    type: "object"
    properties:
      darlehensBetrag:
        type: "number"
      detailsZurVerwendung:
        type: "string"
      maximaleLaufzeitInMonaten:
        type: "integer"
        format: "int32"
      provision:
        type: "number"
      verwendungszweck:
        type: "string"
        enum:
        - "VORFINANZIERUNG_OEFFENTLICHER_MITTEL"
        - "VERKAUF_EINES_ANDEREN_OBJEKTS"
        - "SONSTIGE_VERWENDUNG"
